<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.wetech.admin.modules.training.mapper.InspectionPlanMapper" >
  <resultMap id="BaseResultMap" type="tech.wetech.admin.modules.training.po.InspectionPlan" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="room_name" property="roomName" jdbcType="VARCHAR" />
    <result column="inspector" property="inspector" jdbcType="VARCHAR" />
    <result column="inspector_id" property="inspectorId" jdbcType="INTEGER" />
    <result column="normal_devices_in_inspection" property="normalDevicesInInspection" jdbcType="INTEGER" />
    <result column="number_normal_devices" property="numberNormalDevices" jdbcType="INTEGER" />
    <result column="number_abnormal_devices" property="numberAbnormalDevices" jdbcType="INTEGER" />
    <result column="number_reported_repair_equipment" property="numberReportedRepairEquipment" jdbcType="INTEGER" />
    <result column="inspection_time" property="inspectionTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="inspection_status" property="inspectionStatus" jdbcType="VARCHAR" />
    <result column="plan_year_id" property="planYearId" jdbcType="INTEGER" />
  </resultMap>
</mapper>