<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<section class="content-header">
    <h1>
        课程实施
        <small>排课设备页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">课程管理</a></li>
        <li><a href="#">课程实施</a></li>
        <li class="active"><span id="nnaa"></span>排课设备</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                            	<input type="hidden" class="form-control input-sm" name=courseArrangementId id="searchId" readonly>
                                <label for="searchName"> 设备名称 </label>
                                <input type="text" class="form-control input-sm" name="assetName" id="searchName" placeholder="请输入设备名称">
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                    <i class="glyphicon glyphicon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    清空
                                </button>
                                <button type="button" class="btn btn-default" onclick="returnBack()">
                                    返回上一级
                                </button>
                            </div>
                        </form>
                        <div class="btn-group btn-group-sm">
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button shiro:hasPermission="coursearrangementreasset:create" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal" onclick="addLoad()"><i class="glyphicon glyphicon-plus"></i> 新增
                            </button>
                            <!-- Indicates caution should be taken with this action
                            <button shiro:hasPermission="coursearrangementreasset:update" type="button" id="editBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#editModal"
                                    data-action="{type:'editable',form:'#editForm',table:'#table',after:'editAfter'}"
                                    disabled><i class="glyphicon glyphicon-edit"></i> 修改
                            </button> -->
                            <!-- Indicates a dangerous or potentially negative action -->
                            <button shiro:hasPermission="coursearrangementreasset:delete" type="button" id="deleteBtn" class="btn btn-default"
                            		data-toggle="modal"
                                    data-target="#deleteModal"
                                    data-action="{type:'delete',form:'#deleteForm',idField:'id',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">添加设备</h4>
            </div>
            <div class="modal-body">
                <form id="addForm">
                	<input type="hidden" id="addPkbh" name="courseArrangementId"/>
                	<div class="form-group">
                		<div style="display: none;">
                        	<label class="control-label" for="addAssetName"><span class="asterisk">*</span>设备名称:</label>
                        	<input id="addAssetName" type="text" class="form-control" name="assetName" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="assetId"><span class="asterisk">*</span>设备名称:</label>
	                    	<select id="assetId" class="form-control select2" data-minimum-results-for-search="-1" name="assetId" onchange="addAssetChange()"
	                            	data-placeholder="请从列表选择一项" required>
	                            	<option></option>
	                    	</select>
	                    	<div class="help-block with-errors"></div>
	                    </div>
                	</div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="assetClassificationCode"><span class="asterisk">*</span>设备分类:</label>
                        	<input id="assetClassificationCode" type="text" class="form-control" name="assetClassificationCode" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="assetClassification"><span class="asterisk">*</span>设备分类:</label>
                        	<input id="assetClassification" type="text" class="form-control" name="assetClassification" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="assetStatusCode"><span class="asterisk">*</span>设备状态:</label>
                        	<input id="assetStatusCode" type="text" class="form-control" name="assetStatusCode" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="assetStatus"><span class="asterisk">*</span>设备状态:</label>
                        	<input id="assetStatus" type="text" class="form-control" name="assetStatus" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="addForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#addForm',url:'@{/coursearrangementreasset/create}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">修改设备</h4>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" name="id"/>
                	<div class="form-group">
                		<div class="col-md-12">
                        	<label class="control-label" for="editAssetName"><span class="asterisk">*</span>设备名称:</label>
                        	<input id="editAssetName" type="text" class="form-control" name="assetName" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                	</div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="editAssetClassification"><span class="asterisk">*</span>设备分类:</label>
                        	<input id="editAssetClassification" type="text" class="form-control" name="assetClassification" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="assetClassificationCode"><span class="asterisk">*</span>设备分类:</label>
	                        <select id="assetClassificationCode" class="form-control select2" name="assetClassificationCode" onchange="editAssetClassificationChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="assetClassification: ${assetClassificationList}" th:value="${assetClassification.id}" th:text="${assetClassification.classificationName}">
	                            设备分类不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="editAssetStatus"><span class="asterisk">*</span>设备状态:</label>
                        	<input id="editAssetStatus" type="text" class="form-control" name="assetStatus" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="assetStatusCode"><span class="asterisk">*</span>设备状态:</label>
	                        <select id="assetStatusCode" class="form-control select2" name="assetStatusCode" onchange="editAssetStatusChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="assetStatus: ${assetStatusList}" th:value="${assetStatus.pubCode}" th:text="${assetStatus.pubName}">
	                            设备状态不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="editForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#editForm',url:'@{/coursearrangementreasset/update}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteSmallModalLabel">删除设备</h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm"></form>
                确定要删除选中的 <span class="records"></span> 条记录?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="deleteForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#deleteForm',url:'@{/coursearrangementreasset/delete-batch}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<div id="actionButtons" class="admin-hide">
    <!-- <a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a> -->
    <!-- <a shiro:hasPermission="coursearrangementreasset:update" class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-edit"></i></a> -->　
    <a shiro:hasPermission="coursearrangementreasset:delete" class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i></a>　
</div>

<script th:inline="javascript">
    var $table = $('#table');

    $(function () {
    	var pkbh = localStorage.getItem("pkbh");
    	if(pkbh != undefined) {
    		$('#searchId').val(pkbh);
    	}
    	var pkkcmc = localStorage.getItem("pkkcmc");
    	if(pkkcmc != undefined) {
    		if(pkkcmc != '') {
    			document.querySelector('#nnaa').innerHTML = pkkcmc + '-';
    		}else {
    			document.querySelector('#nnaa').innerHTML = '';
    		}
    	}
        $table.bootstrapTable({
            url: CONTEXT_PATH + '/coursearrangementreasset/list',
            idField: 'id',
            detailView: false,
            columns: [
                {field: 'state', checkbox: true},
                {field: 'id', title: '序号', sortable: true, halign: 'left',
                	formatter: function(value,row,index) {
                		var pageSize = $table.bootstrapTable('getOptions').pageSize;
                		var pageNumber = $table.bootstrapTable('getOptions').pageNumber;
                		return pageSize * (pageNumber - 1) + index + 1;
                	}
                },
                {field: 'assetName', title: '设备名称', sortable: true, halign: 'left'},
                {field: 'assetClassification', title: '设备分类', halign: 'center', align: 'center'},
                {field: 'assetStatus', title: '设备状态', halign: 'center', align: 'center', formatter: 'enabledFormatter'},
                {
                    field: 'action',
                    title: '操作',
                    halign: 'center',
                    align: 'center',
                    formatter: 'actionFormatter',
                    events: 'actionEvents',
                    clickToSelect: false
                }
            ]
        });
        $.ajax({
            type:"GET",
            url: CONTEXT_PATH + '/coursearrangement/list?id=' + pkbh,
            success:function(data){
            	console.log(data.data);
            	$.ajax({
                    type:"GET",
                    url: CONTEXT_PATH + '/asset/list?roomId=' + data.data[0].trainingRoomId,
                    success:function(data){
                    	console.log(data)
                    	for(let i = 0; i < data.data.length; i++) {
                    		var opt = '<option value="' + data.data[i].id + '">' + data.data[i].assetName + '</option>';
                        	$("#assetId").append(opt);
                    	}
                    }
                });
            }
        });
    });

    function editAfter(obj, row) {
    	$('#editForm').find('[name=assetClassificationCode]').find('option[value=' + row.assetClassificationCode + ']').prop('selected', true);
    	$('#editForm').find('[name=assetStatusCode]').find('option[value=' + row.assetStatusCode + ']').prop('selected', true);
    }

    function enabledFormatter(value, row, index) {
    	if(value == '在用') {
    		return '<span class="zaiyong">在用</span>';
    	}else if(value == '正常') {
    		return '<span class="zhengchang">正常</span>';
    	}else if(value == '异常') {
    		return '<span class="weixiu">异常</span>';
    	}else if(value == '维修') {
    		return '<span class="weixiu">维修</span>';
    	}else if(value == '报废') {
    		return '<span class="baofei">报废</span>';
    	}
    }

    function actionFormatter(value, row, index) {
        return $('#actionButtons').html();
    }
    
    function returnBack() {
    	document.querySelector('a[href="#coursearrangement"]').click();
    }

    window.actionEvents = {
        'click .edit': function (e, value, row, index) {
            $('#editModal').modal('show')
            $('#editForm').fillForm(row);
            editAfter('', row);
        },
        'click .remove': function (e, value, row, index) {
            $('#deleteModal').modal('show');
            $('.records').html('1');
            var html = '';
            for (var key in row) {
                html += '<input type="hidden" name="' + key + '" value="' + row[key] + '">';
            }
            $('#deleteForm').html(html);
        }
    };
    
    function addAssetChange() {
    	var addAssetText = $('#addForm').find('[name=assetId]').find('option:selected').text();
    	$('#addAssetName').val(addAssetText);
    	var addId = $('#addForm').find('[name=assetId]').find('option:selected').val();
    	$.ajax({
            type:"GET",
            url: CONTEXT_PATH + '/asset/list?id=' + addId,
            success:function(data){
            	$('#assetClassificationCode').val(data.data[0].assetClassificationCode);
            	$('#assetClassification').val(data.data[0].assetClassification);
            	$('#assetStatusCode').val(data.data[0].assetStatusCode);
            	$('#assetStatus').val(data.data[0].assetStatus);
            }
        });
    }
    
    function addAssetClassificationChange() {
    	var addAssetClassificationText = $('#addForm').find('[name=assetClassificationCode]').find('option:selected').text();
    	$('#addAssetClassification').val(addAssetClassificationText);
    }
    
    function addAssetStatusChange() {
    	var addAssetStatusText = $('#addForm').find('[name=assetStatusCode]').find('option:selected').text();
    	$('#addAssetStatus').val(addAssetStatusText);
    }
    
    function editAssetClassificationChange() {
    	var editAssetClassificationText = $('#editForm').find('[name=assetClassificationCode]').find('option:selected').text();
    	$('#editAssetClassification').val(editAssetClassificationText);
    }
    
    function editAssetStatusChange() {
    	var editAssetStatusText = $('#editForm').find('[name=assetStatusCode]').find('option:selected').text();
    	$('#editAssetStatus').val(editAssetStatusText);
    }
    
    function addLoad() {
    	$('#addPkbh').val(localStorage.getItem("pkbh"));
    	//addAssetClassificationChange();
    	//addAssetChange();
    	//addAssetStatusChange();
    }
</script>
</html>