<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<style>
	.ttt {
		line-height: 40px;
    text-indent: 15px;
    font-weight: 700;
    font-size: 16px;
	}
</style>
<section class="content-header">
    <h1>
        设备维修
        <small>维修申请页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">设备管理</a></li>
        <li><a href="#">设备维修</a></li>
        <li class="active">维修记录</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                	<div class="ttt">新增设备维修申请单</div>
                	<div class="wxd">
                <form id="addForm">
                	<input type="hidden" id="flowStatusCode" name="flowStatusCode"/>
                	<input type="hidden" id="flowStatus" name="flowStatus"/>
                	<div class="form-group">
                		<div class="col-md-6">
                			<label class="control-label" for="recordId"><span class="asterisk">*</span>维修单编号:</label>
	                        <input id="recordId" type="text" class="form-control" name="recordId" placeholder="输入维修单编号"
	                               required>
	                        <div class="help-block with-errors"></div>
                		</div>
                		<div class="col-md-6">
                			<label class="control-label" for="recordName"><span class="asterisk">*</span>维修单名称:</label>
	                        <input id="recordName" type="text" class="form-control" name="recordName" placeholder="输入维修单名称"
	                               required>
	                        <div class="help-block with-errors"></div>
                		</div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="assetName"><span class="asterisk">*</span>资产名称:</label>
                        	<input id="assetName" type="text" class="form-control" name="assetName" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="assetId"><span class="asterisk">*</span>资产名称:</label>
		                    <select id="assetId" class="form-control select2" name="assetId" onchange="assetChange()"
		                            data-placeholder="请从列表选择一项" required>
		                        <option th:each="asset: ${assetList}" th:value="${asset.id}" th:text="${asset.assetName}">
		                            资产不存在
		                        </option>
		                    </select>
		                    <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="assetClassification"><span class="asterisk">*</span>资产分类:</label>
                        	<input id="assetClassification" type="text" class="form-control" name="assetClassification" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="assetClassificationCode"><span class="asterisk">*</span>资产分类:</label>
	                        <select id="assetClassificationCode" class="form-control select2" name="assetClassificationCode" onchange="assetClassificationChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="assetClassification: ${assetClassificationList}" th:value="${assetClassification.id}" th:text="${assetClassification.classificationName}">
	                            所属分类不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="applicantDepartment"><span class="asterisk">*</span>申请人部门:</label>
                        	<input id="applicantDepartment" type="text" class="form-control" name="applicantDepartment" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="applicantDepartmentId"><span class="asterisk">*</span>申请人部门:</label>
	                        <select id="applicantDepartmentId" class="form-control select2" name="applicantDepartmentId" onchange="applicantDepartmentChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="organization: ${organizationList}" th:value="${organization.id}" th:text="${organization.name}">
	                            部门不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="applicant"><span class="asterisk">*</span>申请人:</label>
                        	<input id="applicant" type="text" class="form-control" name="applicant" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="applicantId"><span class="asterisk">*</span>申请人:</label>
	                        <select id="applicantId" class="form-control select2" name="applicantId" onchange="applicantChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="user: ${userList}" th:value="${user.id}" th:text="${user.username}">
	                            申请人不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                        	<label class="control-label" for="datepicker"><span class="asterisk">*</span>故障发生时间:</label>
                        	<div class='input-group date' id='datepicker'>
				                <input type='text' class="form-control" name="failureTime" required>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
				            <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="positionName"><span class="asterisk">*</span>存放地点:</label>
                        	<input id="positionName" type="text" class="form-control" name="positionName" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="positionCode"><span class="asterisk">*</span>存放地点:</label>
	                        <select id="positionCode" class="form-control select2" name="positionCode" onchange="positionChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="position: ${positionList}" th:value="${position.id}" th:text="${position.positionName}">
	                            存放地点不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="faultDescription"><span class="asterisk">*</span>故障描述:</label>
	                        <input id="faultDescription" type="text" class="form-control" name="faultDescription" placeholder="输入故障描述"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                    	<div class="col-md-6">
                    		<label class="control-label" for="attachmentName">附件名称:</label>
	                        <input id="attachmentName" type="text" class="form-control" name="attachmentName" placeholder="输入附件名称">
	                        <div class="help-block with-errors"></div>
                    	</div>
                    	<div class="col-md-6">
                    		<label class="control-label" for="attachmentPath">视频附件:</label>
	                        <input id="attachmentPath" type="file" class="form-control" style="border:none" name="attachmentPath">
	                        <div class="help-block with-errors"></div>
                    	</div>
                    </div>
                </form>
                	</div>
                	<div class="fff">
                		<button type="submit" form="addForm" class="btn btn-primary"
		                        data-action="{type:'submit',form:'#addForm',url:'@{/maintenancerecord/create}'}">
		                    申请维修
		                </button>
                	</div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script th:inline="javascript">
    $(function () {
    	$('#datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
    	$('#datepicker').datepicker('setDate', new Date());
    	$('#flowStatusCode').val('em_confirmed');
    	$('#flowStatus').val('待确认');
    	assetChange();
    	assetClassificationChange();
    	applicantDepartmentChange();
    	applicantChange();
    	positionChange();
    });
    
    function assetChange() {
    	var assetText = $('#addForm').find('[name=assetId]').find('option:selected').text();
    	$('#assetName').val(assetText);
    }
    
    function assetClassificationChange() {
    	var assetClassificationText = $('#addForm').find('[name=assetClassificationCode]').find('option:selected').text();
    	$('#assetClassification').val(assetClassificationText);
    }
    
    function applicantDepartmentChange() {
    	var applicantDepartmentText = $('#addForm').find('[name=applicantDepartmentId]').find('option:selected').text();
    	$('#applicantDepartment').val(applicantDepartmentText);
    }
    
    function applicantChange() {
    	var applicantText = $('#addForm').find('[name=applicantId]').find('option:selected').text();
    	$('#applicant').val(applicantText);
    }
    
    function positionChange() {
    	var poaitionText = $('#addForm').find('[name=positionCode]').find('option:selected').text();
    	$('#positionName').val(poaitionText);
    }
</script>
</html>