<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<section class="content-header">
    <h1>
        设备巡检
        <small>巡检详情页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">设备管理</a></li>
        <li><a href="#">设备巡检</a></li>
        <li><a href="#">巡检管理</a></li>
        <li class="active"><span id="nnaa"></span>巡检详情</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                    <a href="" style="display: none" id="exceldownload" download="巡检详情.xls"></a>
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                            	<input type="hidden" class="form-control input-sm" name="planId" id="searchId" readonly>
                                <label for="searchName"> 设备名称 </label>
                                <input type="text" class="form-control input-sm" name="assetName" id="searchName" placeholder="请输入设备名称">
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                    <i class="glyphicon glyphicon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    清空
                                </button>
                                <button type="button" class="btn btn-default" onclick="exportexcel()">
                                    <i class="glyphicon glyphicon-save"></i>
                                    导出
                                </button>
                                <button type="button" class="btn btn-default" onclick="returnBack()">
                                    返回上一级
                                </button>
                            </div>
                        </form>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script th:inline="javascript">
    var $table = $('#table');

    $(function () {
    	var planId = localStorage.getItem("planId");
    	var trainingRoom = localStorage.getItem("ItrainingRoom");
    	$('#searchId').val(planId);
    	if(trainingRoom != undefined) {
    		if(trainingRoom != '') {
    			document.querySelector('#nnaa').innerHTML = trainingRoom + '-';
    		}else {
    			document.querySelector('#nnaa').innerHTML = '';
    		}
    	}
        $table.bootstrapTable({
            url: CONTEXT_PATH + '/inspectionrecord/listbyplanidforshow',
            idField: 'id',
            detailView: false,
            pagination : false,
            columns: [
                {field: 'id', title: '序号', sortable: true, halign: 'left',
                	formatter: function(value,row,index) {
                		return index + 1;
                	}
                },
                {field: 'assetCode', title: '设备编号', sortable: true, halign: 'left', formatter: 'assetCodeFormatter'},
                {field: 'assetName', title: '设备名称', sortable: true, halign: 'left'},
                {field: 'assetClassification', title: '设备分类', halign: 'center', align: 'center'},
                {field: 'assetStatus', title: '设备状态', halign: 'center', align: 'center', formatter: 'enabledFormatter'},
                {field: 'statusDescription', title: '状态描述', halign: 'center', align: 'center'},
                {field: 'isRepair', title: '是否维修', halign: 'center', align: 'center', formatter: 'repairFormatter'},
                {field: 'repairOrderNo', title: '维修单号', halign: 'center', align: 'center', formatter: 'repairOrderNoFormatter'}
            ]
        });
    });

    function assetCodeFormatter(value, row, index) {
    	return '<a href="#asset/detail" onclick="refresh(' + row.assetId + ')">' + value +'</a>'
    }

    function enabledFormatter(value, row, index) {
    	if(value == '在用') {
    		return '<span class="zaiyong">在用</span>';
    	}else if(value == '正常') {
    		return '<span class="zhengchang">正常</span>';
    	}else if(value == '异常') {
    		return '<span class="weixiu">异常</span>';
    	}else if(value == '维修') {
    		return '<span class="weixiu">维修</span>';
    	}else if(value == '待报废') {
    		return '<span class="baofei">待报废</span>';
    	}
    }
    
    function repairFormatter(value, row, index) {
    		if(value == 1) {
        		return '<span>已维修</span>';
        	}else if(value == 0) {
        		return '<span>未维修</span>';
        	}else {
        		return '-';
        	}
    }
    
    function repairOrderNoFormatter(value, row, index) {
    	console.log(000)
    	if(value) {
        	return '<span>' + value + '</span>';
    	}
    	return '-';
    }

    function refresh(id) {
    	localStorage.setItem("assetDetailId", id);
    	localStorage.setItem("assetDetailUrl", '#inspectionrecord');
    	window.location.hash = '#asset/detail';
    	location.reload();
    }
    
    function returnBack() {
    	window.location.hash = '#inspectionplan';
    	location.reload();
    }
    
    function exportexcel() {
    	var planId = $('#searchId').val();
    	var assetName = $('#searchName').val();
    	$.ajax({
            type:"POST",
            data: {
            	planId: planId,
            	assetName: assetName
            },
            url: CONTEXT_PATH + '/inspectionrecord/exportexcel',
            success:function(data){
            	commondownload(data.data);
            }
        });
    }
</script>
</html>