<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<section class="content-header">
    <h1>
        设备巡检
        <small>巡检管理页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">设备管理</a></li>
        <li><a href="#">设备巡检</a></li>
        <li class="active">巡检管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                                <label for="searchName"> 创建年份 </label>
                                <div class='input-group date' id='searchName'>
					                <input type='text' class="form-control" name="createYear">
					                <span class="input-group-addon">
					                    <span class="glyphicon glyphicon-calendar"></span>
					                </span>
					            </div>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                    <i class="glyphicon glyphicon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    清空
                                </button>
                            </div>
                        </form>
                        <div class="btn-group btn-group-sm">
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button shiro:hasPermission="inspectionplanyear:create" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal" onclick="addLoad()"><i class="glyphicon glyphicon-plus"></i> 新增
                            </button>
                            <!-- Indicates caution should be taken with this action -->
                            <button shiro:hasPermission="inspectionplanyear:update" type="button" id="editBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#editModal"
                                    data-action="{type:'editable',form:'#editForm',table:'#table',after:'editAfter'}"
                                    disabled><i class="glyphicon glyphicon-edit"></i> 修改
                            </button>
                            <!-- Indicates a dangerous or potentially negative action -->
                            <button shiro:hasPermission="inspectionplanyear:delete" type="button" id="deleteBtn" class="btn btn-default"
                            		data-toggle="modal"
                                    data-target="#deleteModal"
                                    data-action="{type:'delete',form:'#deleteForm',idField:'id',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">添加巡检计划</h4>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="addRoomName"><span class="asterisk">*</span>实训室名称:</label>
                        	<input id="addRoomName" type="text" class="form-control" name="roomName" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="roomId"><span class="asterisk">*</span>实训室名称:</label>
	                        <select id="roomId" class="form-control select2" name="roomId" onchange="addRoomChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="trainingRoom: ${trainingRoomList}" th:value="${trainingRoom.id}" th:text="${trainingRoom.roomName}">
	                            实训室不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display:none;">
                        	<label class="control-label" for="addPersonInCharge"><span class="asterisk">*</span>巡检负责人:</label>
                        	<input id="addPersonInCharge" type="text" class="form-control" name="personInCharge" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="personInChargeId"><span class="asterisk">*</span>巡检负责人:</label>
	                        <select id="personInChargeId" class="form-control select2" name="personInChargeId" onchange="addPersonInChargeChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="user: ${userList}" th:value="${user.id}" th:text="${user.username}">
	                            巡检负责人不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="addInspectionCycle"><span class="asterisk">*</span>巡检周期:</label>
                        	<input id="addInspectionCycle" type="text" class="form-control" name="inspectionCycle" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="inspectionCycleCode"><span class="asterisk">*</span>巡检周期:</label>
	                        <select id="inspectionCycleCode" class="form-control select2" name="inspectionCycleCode" onchange="addInspectionCycleChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="inspectionCycle: ${inspectionCycleList}" th:value="${inspectionCycle.pubCode}" th:text="${inspectionCycle.pubName}">
	                            巡检周期不存在
	                            </option>
	                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="inspectionTimesYear"><span class="asterisk">*</span>本年度应巡检次数:</label>
	                        <input id="inspectionTimesYear" type="text" class="form-control" name="inspectionTimesYear" placeholder="输入数字"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="inspectionedTimesYear"><span class="asterisk">*</span>本年度已巡检次数:</label>
	                        <input id="inspectionedTimesYear" type="text" class="form-control" name="inspectionedTimesYear" placeholder="输入数字"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="numberAbnormalDevices"><span class="asterisk">*</span>异常设备数量:</label>
	                        <input id="numberAbnormalDevices" type="text" class="form-control" name="numberAbnormalDevices" placeholder="输入数字"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="numberRepairedEquipmen"><span class="asterisk">*</span>已维修设备数量:</label>
	                        <input id="numberRepairedEquipmen" type="text" class="form-control" name="numberRepairedEquipmen" placeholder="输入数字"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="numberReportedRepairEquipment"><span class="asterisk">*</span>已报修设备数量:</label>
	                        <input id="numberReportedRepairEquipment" type="text" class="form-control" name="numberReportedRepairEquipment" placeholder="输入数字"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="addForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#addForm',url:'@{/inspectionplanyear/create}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">修改巡检计划</h4>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" name="id"/>
                    <div class="form-group">
                        <label class="control-label" for="roomName"><span class="asterisk">*</span>实训室名称:</label>
                        <input id="roomName" type="text" class="form-control" name="roomName"
                               readonly required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div style="display:none;">
                        	<label class="control-label" for="editPersonInCharge"><span class="asterisk">*</span>巡检负责人:</label>
                        	<input id="editPersonInCharge" type="text" class="form-control" name="personInCharge" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="personInChargeId"><span class="asterisk">*</span>巡检负责人:</label>
	                        <select id="personInChargeId" class="form-control select2" name="personInChargeId" onchange="editPersonInChargeChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="user: ${userList}" th:value="${user.id}" th:text="${user.username}">
	                            巡检负责人不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="editInspectionCycle"><span class="asterisk">*</span>巡检周期:</label>
                        	<input id="editInspectionCycle" type="text" class="form-control" name="inspectionCycle" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="inspectionCycleCode"><span class="asterisk">*</span>巡检周期:</label>
	                        <select id="inspectionCycleCode" class="form-control select2" name="inspectionCycleCode" onchange="editInspectionCycleChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="inspectionCycle: ${inspectionCycleList}" th:value="${inspectionCycle.pubCode}" th:text="${inspectionCycle.pubName}">
	                            巡检周期不存在
	                            </option>
	                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="inspectionTimesYear"><span class="asterisk">*</span>本年度应巡检次数:</label>
	                        <input id="inspectionTimesYear" type="text" class="form-control" name="inspectionTimesYear" placeholder="输入数字"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="inspectionedTimesYear"><span class="asterisk">*</span>本年度已巡检次数:</label>
	                        <input id="inspectionedTimesYear" type="text" class="form-control" name="inspectionedTimesYear" placeholder="输入数字"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="numberAbnormalDevices"><span class="asterisk">*</span>异常设备数量:</label>
	                        <input id="numberAbnormalDevices" type="text" class="form-control" name="numberAbnormalDevices" placeholder="输入数字"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="numberRepairedEquipmen"><span class="asterisk">*</span>已维修设备数量:</label>
	                        <input id="numberRepairedEquipmen" type="text" class="form-control" name="numberRepairedEquipmen" placeholder="输入数字"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="numberReportedRepairEquipment"><span class="asterisk">*</span>已报修设备数量:</label>
	                        <input id="numberReportedRepairEquipment" type="text" class="form-control" name="numberReportedRepairEquipment" placeholder="输入数字"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="editForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#editForm',url:'@{/inspectionplanyear/update}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteSmallModalLabel">删除巡检计划</h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm"></form>
                确定要删除选中的 <span class="records"></span> 条记录?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="deleteForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#deleteForm',url:'@{/inspectionplanyear/delete-batch}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<div id="actionButtons" class="admin-hide">
    <!-- <a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a> -->
    <a shiro:hasPermission="inspectionplanyear:update" class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>　
    <a shiro:hasPermission="inspectionplanyear:delete" class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i></a>　
</div>

<script th:inline="javascript">
    var $table = $('#table');

    $(function () {
    	$('#searchName').datepicker({
            format: 'yyyy',
            minViewMode: 2,
            maxViewMode: 2,
            autoclose: true
        });
        $table.bootstrapTable({
            url: CONTEXT_PATH + '/inspectionplanyear/list',
            idField: 'id',
            columns: [
                {field: 'state', checkbox: true},
                {field: 'id', title: '序号', sortable: true, halign: 'left'},
                {field: 'roomName', title: '实训室名称', sortable: true, halign: 'left', formatter: 'roomNameFormatter'},
                {field: 'personInCharge', title: '巡检负责人', sortable: true, halign: 'left'},
                {field: 'inspectionCycle', title: '巡检周期', halign: 'center', align: 'center'},
                {field: 'inspectionTimesYear', title: '本年度应巡检次数', halign: 'center', align: 'center'},
                {field: 'inspectionedTimesYear', title: '本年度已巡检次数', halign: 'center', align: 'center'},
                {field: 'numberAbnormalDevices', title: '异常设备数量', halign: 'center', align: 'center'},
                {field: 'numberRepairedEquipmen', title: '已维修设备数量', halign: 'center', align: 'center'},
                {field: 'numberReportedRepairEquipment', title: '已报修设备数量', halign: 'center', align: 'center'},
                {field: 'createYear', title: '创建年份', halign: 'center', align: 'center'},
                {
                    field: 'action',
                    title: '操作',
                    halign: 'center',
                    align: 'center',
                    formatter: 'actionFormatter',
                    events: 'actionEvents',
                    clickToSelect: false
                }
            ]
        });
    });

    function editAfter(obj, row) {
    	$('#editForm').find('[name=roomId]').find('option[value=' + row.roomId + ']').prop('selected', true);
    	$('#editForm').find('[name=inspectionCycleCode]').find('option[value=' + row.inspectionCycleCode + ']').prop('selected', true);
    }

    function roomNameFormatter(value, row, index) {
    	return '<a href="#" onclick="refresh(\'' + row.id + '\',\'' + row.roomName + '\')">' + value +'</a>'
    }

    function actionFormatter(value, row, index) {
        return $('#actionButtons').html();
    }

    function refresh(id, name) {
    	localStorage.setItem("ItrainingRoomId", id);
    	localStorage.setItem("ItrainingRoom", name);
    	window.location.hash = '#inspectionplan';
    	location.reload();
    }

    window.actionEvents = {
        'click .edit': function (e, value, row, index) {
            $('#editModal').modal('show')
            $('#editForm').fillForm(row);
            editAfter('', row);
        },
        'click .remove': function (e, value, row, index) {
            $('#deleteModal').modal('show');
            $('.records').html('1');
            var html = '';
            for (var key in row) {
                html += '<input type="hidden" name="' + key + '" value="' + row[key] + '">';
            }
            $('#deleteForm').html(html);
        }
    };
    
    function addRoomChange() {
    	var addRoomText = $('#addForm').find('[name=roomId]').find('option:selected').text();
    	$('#addRoomName').val(addRoomText);
    }
    
    function addPersonInChargeChange() {
    	var addPersonInChargeText = $('#addForm').find('[name=personInChargeId]').find('option:selected').text();
    	$('#addPersonInCharge').val(addPersonInChargeText);
    }
    
    function addInspectionCycleChange() {
    	var addInspectionCycleText = $('#addForm').find('[name=inspectionCycleCode]').find('option:selected').text();
    	$('#addInspectionCycle').val(addInspectionCycleText);
    }
    
    function editPersonInChargeChange() {
    	var editPersonInChargeText = $('#editForm').find('[name=personInChargeId]').find('option:selected').text();
    	$('#editPersonInCharge').val(editPersonInChargeText);
    }
    
    function editInspectionCycleChange() {
    	var editInspectionCycleText = $('#editForm').find('[name=inspectionCycleCode]').find('option:selected').text();
    	$('#editInspectionCycle').val(editInspectionCycleText);
    }
    
    function addLoad() {
    	addRoomChange();
    	addPersonInChargeChange();
    	addInspectionCycleChange();
    }
</script>
</html>