<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
      <style>
	.ttt {
		line-height: 40px;
    text-indent: 15px;
    font-weight: 700;
    font-size: 15px;
	}
	.oneline {
		display: inline-block;
	}
	.hint {
		line-height: 35px;
    text-align: center;
    background: #d7effe;
    font-weight: 700;
	}
	.cott {
		line-height: 35px;
	}
	.fff {
		text-align: center;
	}
</style>
<section class="content-header">
    <h1>
        设备维修
        <small>维修流程页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">设备管理</a></li>
        <li><a href="#">设备维修</a></li>
        <li class="active">维修流程</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                        <form class="form-inline" id="searchForm">
                        	<div class="form-group">
                            	<label for="searchName"> 维修单信息 </label>
                            </div>
                            <div class="btn-group btn-group-sm">
                            	<button type="button" class="btn btn-default" onclick="returnBack()">
                                    返回上一级
                                </button>
                            </div>
                        </form>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    
    <div class="row" id="step2" style="display: none;">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="ttt">设备管理员确认故障</div>
                    <div class="col-xs-12">
                    	<div class="col-xs-12">
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">确认部门</span>
                    			<span class="cott col-xs-6" id="s2bumen"></span>
                    		</div>
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">确认人</span>
                    			<span class="cott col-xs-6" id="s2ren"></span>
                    		</div>
                    	</div>
                    	<div class="col-xs-12">
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">是否维修</span>
                    			<span class="cott col-xs-6" id="s2sf"></span>
                    		</div>
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">维修类型</span>
                    			<span class="cott col-xs-6" id="s2type"></span>
                    		</div>
                    	</div>
                    	<div class="col-xs-12">
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">维修费用估计</span>
                    			<span class="cott col-xs-6" id="s2cost"></span>
                    		</div>
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">维修配合单位</span>
                    			<span class="cott col-xs-6" id="s2dw"></span>
                    		</div>
                    	</div>
                    	<div class="col-xs-12">
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">备注</span>
                    			<span class="cott col-xs-6" id="s2bz"></span>
                    		</div>
                    	</div>
                    	<!-- <div class="col-xs-12">
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">附件</span>
                    			<span class="cott col-xs-6" id="s2fj"></span>
                    		</div>
                    	</div> -->
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    
    <div class="row" id="step3" style="display: none;">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="ttt">实训管理主任审批</div>
                    <div class="col-xs-12">
                    	<div class="col-xs-12">
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">审批部门</span>
                    			<span class="cott col-xs-6" id="s3bumen"></span>
                    		</div>
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">审批人</span>
                    			<span class="cott col-xs-6" id="s3ren"></span>
                    		</div>
                    	</div>
                    	<div class="col-xs-12">
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">是否批准</span>
                    			<span class="cott col-xs-6" id="s3sf"></span>
                    		</div>
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">审批意见</span>
                    			<span class="cott col-xs-6" id="s3yj"></span>
                    		</div>
                    	</div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    
    <div class="row" id="step4" style="display: none;">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="ttt">设备管理员维修记录</div>
                    <div class="col-xs-12">
                    	<div class="col-xs-12">
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">记录部门</span>
                    			<span class="cott col-xs-6" id="s4bumen"></span>
                    		</div>
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">记录人</span>
                    			<span class="cott col-xs-6" id="s4ren"></span>
                    		</div>
                    	</div>
                    	<div class="col-xs-12">
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">是否修好</span>
                    			<span class="cott col-xs-6" id="s4sf"></span>
                    		</div>
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">维修费用</span>
                    			<span class="cott col-xs-6" id="s4cost"></span>
                    		</div>
                    	</div>
                    	<div class="col-xs-12">
                    		<div class="oneline col-xs-6">
                    			<span class="hint col-xs-6">备注</span>
                    			<span class="cott col-xs-6" id="s4bz"></span>
                    		</div>
                    	</div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body" id="sss2" style="display: none;">
                	<div class="ttt">维修管理员确认故障</div>
                	<div class="wxd">
                <form id="failureconfirmationForm">
                	<input type="hidden" id="S2RecordId" name="recordId"/>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="S2ConfirmationDepartment"><span class="asterisk">*</span>确认人部门:</label>
                        	<input id="S2ConfirmationDepartment" type="text" class="form-control" name="confirmationDepartment" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="confirmationDepartmentId"><span class="asterisk">*</span>确认人部门:</label>
	                        <select id="confirmationDepartmentId" class="form-control select2" name="confirmationDepartmentId" onchange="S2ConfirmationDepartmentChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="organization: ${organizationList}" th:value="${organization.id}" th:text="${organization.name}">
	                            部门不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="S2ConfirmingPerson"><span class="asterisk">*</span>确认人:</label>
                        	<input id="S2ConfirmingPerson" type="text" class="form-control" name="confirmingPerson" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="confirmingPersonId"><span class="asterisk">*</span>确认人:</label>
	                        <select id="confirmingPersonId" class="form-control select2" name="confirmingPersonId" onchange="S2ConfirmingPersonChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="user: ${userList}" th:value="${user.id}" th:text="${user.username}">
	                            确认人不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
						<div class="col-md-6">
                        	<label class="control-label" for="repairRequired"><span class="asterisk">*</span>是否需要维修:</label>
	                        <select id="repairRequired" class="form-control select2" name="repairRequired"
                                data-placeholder="请从列表选择一项" required>
	                            <option value="1" selected>是</option>
	                            <option value="0">否</option>
	                        </select>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="maintenanceCostEstimate"><span class="asterisk">*</span>维修费用估计:</label>
	                        <input id="maintenanceCostEstimate" type="text" class="form-control" name="maintenanceCostEstimate" placeholder="输入费用" required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="S2MaintenanceType"><span class="asterisk">*</span>维修类型:</label>
                        	<input id="S2MaintenanceType" type="text" class="form-control" name="maintenanceType" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="maintenanceTypeCode"><span class="asterisk">*</span>维修类型:</label>
	                        <select id="maintenanceTypeCode" class="form-control select2" name="maintenanceTypeCode" onchange="S2MaintenanceTypeChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="maintenanceType: ${maintenanceTypeList}" th:value="${maintenanceType.pubCode}" th:text="${maintenanceType.pubName}">
	                            类型不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="maintenanceCooperationUnit"><span class="asterisk">*</span>审批人:</label>
	                        <select id="maintenanceCooperationUnit" class="form-control select2" name="maintenanceCooperationUnit"
	                                data-placeholder="请从列表选择一项" required>
	                                <option value="XX公司" selected>XX公司</option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="remark">备注:</label>
	                        <input id="remark" type="text" class="form-control" name="remark" placeholder="输入备注">
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </form>
                	</div>
                	<div class="fff">
                		<button type="button" form="failureconfirmationForm" class="btn btn-primary" onclick="sstt2()">
		                    确认
		                </button>
                	</div>
                	</div>
                <div class="box-body" id="sss3" style="display: none;">
                	<div class="ttt">实训管理主任审批</div>
                	<div class="wxd">
                <form id="directorapprovalForm">
                	<input type="hidden" id="S3RecordId" name="recordId"/>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="S3ApprovalDepartment"><span class="asterisk">*</span>审批人部门:</label>
                        	<input id="S3ApprovalDepartment" type="text" class="form-control" name="approvalDepartment" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="approvalDepartmentId"><span class="asterisk">*</span>审批人部门:</label>
	                        <select id="approvalDepartmentId" class="form-control select2" name="approvalDepartmentId" onchange="S3ApprovalDepartmentChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="organization: ${organizationList}" th:value="${organization.id}" th:text="${organization.name}">
	                            部门不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="S3Approver"><span class="asterisk">*</span>审批人:</label>
                        	<input id="S3Approver" type="text" class="form-control" name="approver" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="approverId"><span class="asterisk">*</span>审批人:</label>
	                        <select id="approverId" class="form-control select2" name="approverId" onchange="S3ApproverChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="user: ${userList}" th:value="${user.id}" th:text="${user.username}">
	                            审批人不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
						<div class="col-md-12">
                        	<label class="control-label" for="passOrNot"><span class="asterisk">*</span>是否审批:</label>
	                        <select id="passOrNot" class="form-control select2" name="passOrNot"
                                data-placeholder="请从列表选择一项" required>
	                            <option value="1" selected>是</option>
	                            <option value="0">否</option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="approvalComments">审批意见:</label>
	                        <input id="approvalComments" type="text" class="form-control" name="approvalComments" placeholder="输入审批意见">
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </form>
                	</div>
                	<div class="fff">
                		<button type="button" form="directorapprovalForm" class="btn btn-primary" onclick="sstt3()">
		                    审批
		                </button>
                	</div>
                	</div>
                <div class="box-body" id="sss4" style="display: none;">
                	<div class="ttt">设备管理员维修记录</div>
                	<div class="wxd">
                <form id="maintenancerecordresultsForm">
                	<input type="hidden" id="S4RecordId" name="recordId"/>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="S4RecordDepartment"><span class="asterisk">*</span>记录人部门:</label>
                        	<input id="S4RecordDepartment" type="text" class="form-control" name="recordDepartment" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="recordDepartmentId"><span class="asterisk">*</span>记录人部门:</label>
	                        <select id="recordDepartmentId" class="form-control select2" name="recordDepartmentId" onchange="S4RecordDepartmentChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="organization: ${organizationList}" th:value="${organization.id}" th:text="${organization.name}">
	                            部门不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="S4RecordPerson"><span class="asterisk">*</span>记录人:</label>
                        	<input id="S4RecordPerson" type="text" class="form-control" name="recordPerson" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="recordPersonId"><span class="asterisk">*</span>记录人:</label>
	                        <select id="recordPersonId" class="form-control select2" name="recordPersonId" onchange="S4RecordPersonChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="user: ${userList}" th:value="${user.id}" th:text="${user.username}">
	                            记录人不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
						<div class="col-md-6">
                        	<label class="control-label" for="isRepaired"><span class="asterisk">*</span>是否修好:</label>
	                        <select id="isRepaired" class="form-control select2" name="isRepaired"
                                data-placeholder="请从列表选择一项" required>
	                            <option value="1" selected>是</option>
	                            <option value="0">否</option>
	                        </select>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="maintenanceCosts"><span class="asterisk">*</span>维修费用:</label>
	                        <input id="maintenanceCosts" type="text" class="form-control" name="maintenanceCosts" placeholder="输入费用" required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="remark">备注:</label>
	                        <input id="remark" type="text" class="form-control" name="remark" placeholder="输入备注">
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </form>
                	</div>
                	<div class="fff">
                		<button type="button" form="maintenancerecordresultsForm" class="btn btn-primary" onclick="sstt4()">
		                    归档
		                </button>
                	</div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script th:inline="javascript">
    var $table = $('#table');

    $(function () {
    	var datas = [];
    	var weixiuId = localStorage.getItem("weixiuId");
    	$('#S2RecordId').val(weixiuId);
    	S2ConfirmationDepartmentChange();
    	S2ConfirmingPersonChange();
    	S2MaintenanceTypeChange();
    	$('#S3RecordId').val(weixiuId);
    	S3ApprovalDepartmentChange();
    	S3ApproverChange();
    	$('#S4RecordId').val(weixiuId);
    	S4RecordDepartmentChange();
    	S4RecordPersonChange();
    	$.ajax({
            type:"GET",
            url: CONTEXT_PATH + '/maintenancerecord/' + weixiuId,
            success:function(data){
            	datas.push(data.data);
            	$table.bootstrapTable({
                    data: datas,
                    pagination : false,
                    columns: [
                              {field: 'recordId', title: '维修单编号', halign: 'center', align: 'center'},
                              {field: 'recordName', title: '维修单名称', halign: 'center', align: 'center'},
                              {field: 'assetName', title: '资产名称', halign: 'center', align: 'center'},
                              {field: 'assetClassification', title: '资产分类', halign: 'center', align: 'center'},
                              {field: 'applicantDepartment', title: '申请部门', halign: 'center', align: 'center'},
                              {field: 'applicant', title: '申请人', halign: 'center', align: 'center'},
                              {field: 'failureTime', title: '故障时间', halign: 'center', align: 'center'},
                              {field: 'positionName', title: '存放地点', halign: 'center', align: 'center'},
                              {field: 'faultDescription', title: '故障描述', halign: 'center', align: 'center'},
                              {field: 'attachmentName', title: '附件', halign: 'center', align: 'center', formatter: 'attachmentNameFormatter'}
                    ]
                });
            	if(datas[0].flowStatus == '待确认') {
            		$('#sss2').css('display', 'block');
            	}else if(datas[0].flowStatus == '待审批') {
            		$('#sss3').css('display', 'block');
                	$.ajax({
                        type:"GET",
                        url: CONTEXT_PATH + '/failureconfirmation/list?recordId=' + weixiuId,
                        success:function(data){
                        	$('#s2bumen').append(data.data[0].confirmationDepartment);
                        	$('#s2ren').append(data.data[0].confirmingPerson);
                        	if(data.data[0].repairRequired == 1) {
                        		$('#s2sf').append('是');
                        	}else {
                        		$('#s2sf').append('否');
                        	}
                        	$('#s2type').append(data.data[0].maintenanceType);
                        	$('#s2cost').append(data.data[0].maintenanceCostEstimate);
                        	$('#s2dw').append(data.data[0].maintenanceCooperationUnit);
                        	$('#s2bz').append(data.data[0].remark);
                        	//$('#s2fj').append(data.data[0].attachmentName);
                        }
                    });
                	$('#step2').css('display', 'block');
            	}else if(datas[0].flowStatus == '维修中') {
            		$('#sss4').css('display', 'block');
                	$.ajax({
                        type:"GET",
                        url: CONTEXT_PATH + '/failureconfirmation/list?recordId=' + weixiuId,
                        success:function(data){
                        	$('#s2bumen').append(data.data[0].confirmationDepartment);
                        	$('#s2ren').append(data.data[0].confirmingPerson);
                        	if(data.data[0].repairRequired == 1) {
                        		$('#s2sf').append('是');
                        	}else {
                        		$('#s2sf').append('否');
                        	}
                        	$('#s2type').append(data.data[0].maintenanceType);
                        	$('#s2cost').append(data.data[0].maintenanceCostEstimate);
                        	$('#s2dw').append(data.data[0].maintenanceCooperationUnit);
                        	$('#s2bz').append(data.data[0].remark);
                        	//$('#s2fj').append(data.data[0].attachmentName);
                        }
                    });
                	$('#step2').css('display', 'block');
                	$.ajax({
                        type:"GET",
                        url: CONTEXT_PATH + '/directorapproval/list?recordId=' + weixiuId,
                        success:function(data){
                        	$('#s3bumen').append(data.data[0].approvalDepartment);
                        	$('#s3ren').append(data.data[0].approver);
                        	if(data.data[0].passOrNot == 1) {
                        		$('#s3sf').append('是');
                        	}else {
                        		$('#s3sf').append('否');
                        	}
                        	$('#s3yj').append(data.data[0].approvalComments);
                        }
                    });
                	$('#step3').css('display', 'block');
            	}else if(datas[0].flowStatus == '维修完成') {
                	$.ajax({
                        type:"GET",
                        url: CONTEXT_PATH + '/failureconfirmation/list?recordId=' + weixiuId,
                        success:function(data){
                        	$('#s2bumen').append(data.data[0].confirmationDepartment);
                        	$('#s2ren').append(data.data[0].confirmingPerson);
                        	if(data.data[0].repairRequired == 1) {
                        		$('#s2sf').append('是');
                        	}else {
                        		$('#s2sf').append('否');
                        	}
                        	$('#s2type').append(data.data[0].maintenanceType);
                        	$('#s2cost').append(data.data[0].maintenanceCostEstimate);
                        	$('#s2dw').append(data.data[0].maintenanceCooperationUnit);
                        	$('#s2bz').append(data.data[0].remark);
                        	//$('#s2fj').append(data.data[0].attachmentName);
                        }
                    });
                	$('#step2').css('display', 'block');
                	$.ajax({
                        type:"GET",
                        url: CONTEXT_PATH + '/directorapproval/list?recordId=' + weixiuId,
                        success:function(data){
                        	$('#s3bumen').append(data.data[0].approvalDepartment);
                        	$('#s3ren').append(data.data[0].approver);
                        	if(data.data[0].passOrNot == 1) {
                        		$('#s3sf').append('是');
                        	}else {
                        		$('#s3sf').append('否');
                        	}
                        	$('#s3yj').append(data.data[0].approvalComments);
                        }
                    });
                	$('#step3').css('display', 'block');
                	$.ajax({
                        type:"GET",
                        url: CONTEXT_PATH + '/maintenancerecordresults/list?recordId=' + weixiuId,
                        success:function(data){
                        	$('#s4bumen').append(data.data[0].recordDepartment);
                        	$('#s4ren').append(data.data[0].recordPerson);
                        	if(data.data[0].isRepaired == 1) {
                        		$('#s4sf').append('是');
                        	}else {
                        		$('#s4sf').append('否');
                        	}
                        	$('#s4cost').append(data.data[0].maintenanceCosts);
                        	$('#s4bz').append(data.data[0].remark);
                        }
                    });
                	$('#step4').css('display', 'block');
            	}
            }
        });
    });
    
    function attachmentNameFormatter(value, row, index) {
    	return '<a href="' + value + '" download="' + row.attachmentPath + '">' + value +'</a>'
    }
    
    function S2ConfirmationDepartmentChange() {
    	var S2ConfirmationDepartmentText = $('#failureconfirmationForm').find('[name=confirmationDepartmentId]').find('option:selected').text();
    	$('#S2ConfirmationDepartment').val(S2ConfirmationDepartmentText);
    }
    
    function S2ConfirmingPersonChange() {
    	var S2ConfirmingPersonText = $('#failureconfirmationForm').find('[name=confirmingPersonId]').find('option:selected').text();
    	$('#S2ConfirmingPerson').val(S2ConfirmingPersonText);
    }
    
    function S2MaintenanceTypeChange() {
    	var S2MaintenanceTypeText = $('#failureconfirmationForm').find('[name=maintenanceTypeCode]').find('option:selected').text();
    	$('#S2MaintenanceType').val(S2MaintenanceTypeText);
    }
    
    function S3ApprovalDepartmentChange() {
    	var S3ApprovalDepartmentText = $('#directorapprovalForm').find('[name=approvalDepartmentId]').find('option:selected').text();
    	$('#S3ApprovalDepartment').val(S3ApprovalDepartmentText);
    }
    
	function S3ApproverChange() {
		var S3ApproverText = $('#directorapprovalForm').find('[name=approverId]').find('option:selected').text();
    	$('#S3Approver').val(S3ApproverText);
    }
	
	function S4RecordDepartmentChange() {
    	var S4RecordDepartmentText = $('#maintenancerecordresultsForm').find('[name=recordDepartmentId]').find('option:selected').text();
    	$('#S4RecordDepartment').val(S4RecordDepartmentText);
    }
    
	function S4RecordPersonChange() {
		var S4recordPersonText = $('#maintenancerecordresultsForm').find('[name=recordPersonId]').find('option:selected').text();
    	$('#S4RecordPerson').val(S4recordPersonText);
    }
	
	function sstt2() {
		console.log(111);
		$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/failureconfirmation/create',
            data: {
            	confirmationDepartmentId: $('#failureconfirmationForm').find('[name=confirmationDepartmentId]').val(),
            	confirmationDepartment: $('#failureconfirmationForm').find('[name=confirmationDepartment]').val(),
            	confirmingPersonId: $('#failureconfirmationForm').find('[name=confirmingPersonId]').val(),
            	confirmingPerson: $('#failureconfirmationForm').find('[name=confirmingPerson]').val(),
            	repairRequired: $('#failureconfirmationForm').find('[name=repairRequired]').val(),
            	maintenanceCostEstimate: $('#failureconfirmationForm').find('[name=maintenanceCostEstimate]').val(),
            	maintenanceTypeCode: $('#failureconfirmationForm').find('[name=maintenanceTypeCode]').val(),
            	maintenanceType: $('#failureconfirmationForm').find('[name=maintenanceType]').val(),
            	maintenanceCooperationUnit: $('#failureconfirmationForm').find('[name=maintenanceCooperationUnit]').val(),
            	remark: $('#failureconfirmationForm').find('[name=remark]').val(),
            	recordId: $('#failureconfirmationForm').find('[name=recordId]').val()
            },
            success:function(data){
            	$.ajax({
                    type:"POST",
                    url: CONTEXT_PATH + '/maintenancerecord/update',
                    data: {
                    	id: $('#failureconfirmationForm').find('[name=recordId]').val(),
                    	flowStatus: '待审批',
                    	flowStatusCode: 'em_pending_approval'
                    },
                    success:function(data){
                    	location.reload();
                    }
                });
            }
        });
	}
	
	function sstt3() {
		$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/directorapproval/create',
            data: {
            	approvalDepartmentId: $('#directorapprovalForm').find('[name=approvalDepartmentId]').val(),
            	approvalDepartment: $('#directorapprovalForm').find('[name=approvalDepartment]').val(),
            	approverId: $('#directorapprovalForm').find('[name=approverId]').val(),
            	approver: $('#directorapprovalForm').find('[name=approver]').val(),
            	passOrNot: $('#directorapprovalForm').find('[name=passOrNot]').val(),
            	approvalComments: $('#directorapprovalForm').find('[name=approvalComments]').val(),
            	recordId: $('#directorapprovalForm').find('[name=recordId]').val()
            },
            success:function(data){
            	$.ajax({
                    type:"POST",
                    url: CONTEXT_PATH + '/maintenancerecord/update',
                    data: {
                    	id: $('#directorapprovalForm').find('[name=recordId]').val(),
                    	flowStatus: '维修中',
                    	flowStatusCode: 'em_to_be_repaired'
                    },
                    success:function(data){
                    	location.reload();
                    }
                });
            }
        });
	}
	
	function sstt4() {
		$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/maintenancerecordresults/create',
            data: {
            	recordDepartmentId: $('#maintenancerecordresultsForm').find('[name=recordDepartmentId]').val(),
            	recordDepartment: $('#maintenancerecordresultsForm').find('[name=recordDepartment]').val(),
            	recordPersonId: $('#maintenancerecordresultsForm').find('[name=recordPersonId]').val(),
            	recordPerson: $('#maintenancerecordresultsForm').find('[name=recordPerson]').val(),
            	isRepaired: $('#maintenancerecordresultsForm').find('[name=isRepaired]').val(),
            	maintenanceCosts: $('#maintenancerecordresultsForm').find('[name=maintenanceCosts]').val(),
            	remark: $('#maintenancerecordresultsForm').find('[name=remark]').val(),
            	recordId: $('#maintenancerecordresultsForm').find('[name=recordId]').val()
            },
            success:function(data){
            	$.ajax({
                    type:"POST",
                    url: CONTEXT_PATH + '/maintenancerecord/update',
                    data: {
                    	id: $('#maintenancerecordresultsForm').find('[name=recordId]').val(),
                    	maintenanceCosts: $('#maintenancerecordresultsForm').find('[name=maintenanceCosts]').val(),
                    	flowStatus: '维修完成',
                    	flowStatusCode: 'em_end'
                    },
                    success:function(data){
                    	location.reload();
                    }
                });
            }
        });
	}
    
    function returnBack() {
    	document.querySelector('a[href="#maintenancerecord"]').click();
    }
</script>
</html>