<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<style type="text/css">
	.right-icon {
		float: right;
		line-height: 40px;
	}
	.jblock {
		display: flex;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #ddd;
    padding: 10px 10px 20px 0;
	}
	.jblock:hover {
		background: #eee;
	}
	.jid {
		flex: 0 0 150px;
		text-align: center;
	    font-size: 33px;
	    line-height: 260px;
	    color: #3c8dbc;
	    font-weight: 700;
	}
	.jbody {
		flex: 1;
		margin-right: 10px;
	}
	.jtitle {
		display: flex;
		height: 50px;
		border-bottom: 1px solid #c1c1c1;
    margin-bottom: 20px;
	}
	.jname {
		flex: 3;
		line-height: 50px;
		text-indent:20px;
	}
	.jtime {
		flex: 2;
		line-height: 50px;
	}
	.jopt {
		flex: 0 0 60px;
		display: flex;
    justify-content: space-evenly;
    align-items: center;
	}
	.jcontent {
		border: 1px solid #c1c1c1;
    border-radius: 8px;
    height: 80px;
    display: flex;
    padding: 0 15px;
    flex-direction: column;
    justify-content: center;
	}
	.jvideo {
		    border: 1px solid #c1c1c1;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    margin-bottom: 10px;
	}
	.jppt {
		border: 1px solid #c1c1c1;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    margin: 10px 0;
	}
    div#rMenu {
        position: absolute;
        visibility: hidden;
        text-align: left;
        padding: 2px;
        width: auto;
        border: 1px
    }

    .dropdown-menu {
        background-color: #ffffff;
        border: 1px solid #ddd;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
        display: none;
        float: left;
        font-family: "Segoe UI", Helvetica, Arial, sans-serif;
        font-size: 14px;
        left: 0;
        list-style: outside none none;
        margin: 0;
        padding: 5px;
        position: absolute;
        text-shadow: none;
        top: 100%;
        z-index: 1000;
        min-width: 90px;
    }

    .dropdown-menu > li > a {
        clear: both;
        color: #333;
        display: block;
        font-weight: 400;
        line-height: 1.42857;
        padding: 3px 10px;
        white-space: nowrap;
    }

    .ztree li {
        padding: 0;
        margin: 0;
        list-style: none;
        line-height: 20px;
        text-align: left;
        white-space: nowrap
    }

    .ztree li span {
        margin-right: 2px;
        font-weight: lighter;
        font-size: 14px;
        color: #000;
        font-family: inherit;
    }
</style>
<section class="content-header">
    <h1>
        教案管理
        <small>教案编辑页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">课程管理</a></li>
        <li><a href="#">教案管理</a></li>
        <li class="active">教案设计</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                	<div id="toolbar">
                        <form class="form-inline" id="searchForm">
                            <div class="btn-group btn-group-sm">
                            	<button type="button" class="btn btn-default" onclick="returnBack()">
                                    返回上一级
                                </button>
                            </div>
                        </form>
                    </div>
                    <div style="font-size: 18px;font-weight:700;margin:5px 0 0 10px">课程信息</div>
                    <table id="tb"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-xs-12 col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">章节列表</div>
                            <div class="panel-body">
                                <ul id="tree" class="ztree"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            	<span>教案</span>
                            	<i class="glyphicon glyphicon-plus" style="float:right;cursor:pointer" onclick="showAddModel()"></i>
                            </div>
                            <div class="panel-body" id="jiaoanField">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="noAddModel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">增加教案</h4>
            </div>
            <div class="modal-body">
            	<form id="addForm">
            		<input type="hidden" name="chapterId"/>
                    <div class="form-group">
                        <label class="control-label" for="teachingPlanName"><span class="asterisk">*</span>教案名称:</label>
                        <input id="teachingPlanName" type="text" class="form-control" name="teachingPlanName"
                               required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="estimatedTimeDuration"><span class="asterisk">*</span>预计时长（分钟）:</label>
                        <input id="estimatedTimeDuration" type="text" class="form-control" name="estimatedTimeDuration"
                               required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="teachingPlanDescription"><span class="asterisk">*</span>教案描述:</label>
                        <textarea id="teachingPlanDescription" rows="6" type="text" class="form-control" name="teachingPlanDescription"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- <div class="form-group" style="display:none">
                        <label class="control-label" for="documentName">文档名称:</label>
                        <input id="documentPath" type="text" class="form-control" name="documentPath">
                        <input id="documentName" type="text" class="form-control" name="documentName">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group" style="display:none">
                        <label class="control-label" for="videoName">视频名称:</label>
                        <input id="videoPath" type="text" class="form-control" name="videoPath">
                        <input id="videoName" type="text" class="form-control" name="videoName">
                        <div class="help-block with-errors"></div>
                    </div> -->
                </form>
            </div>
            <div class="modal-footer">
            	<!-- <label class="control-label" for="documentPath" style="float:left">文档附件:</label>
             	<form id="upload_form1" enctype="multipart/form-data" style="clear:both">
            			<input id="file1" type="file" name="file" style="display:inline-block;float:left;width:80%;"/>
            			<button type="button" class="btn btn-default" onclick="uploadF1()">上传</button>
        		</form>
        		<label class="control-label" for="videoPath" style="float:left">视频附件:</label>
        		<form id="upload_form2" enctype="multipart/form-data" style="clear:both">
            			<input id="file2" type="file" name="file" style="display:inline-block;float:left;width:80%;"/>
            			<button type="button" class="btn btn-default" onclick="uploadF2()">上传</button>
        		</form> -->
                <button type="button" class="btn btn-default" style="margin-top: 30px;" onclick="noAddModel()">关闭</button>
                <button type="button" class="btn btn-primary" style="margin-top: 30px;" onclick="addJ()">
                    确定
                </button>
            </div>
		</div> 
	</div>
</div>

<div class="modal fade" id="addFileModal" tabindex="-1" role="dialog" aria-labelledby="addFileModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="noAddFileModel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">增加教案文档</h4>
            </div>
            <div class="modal-body">
            	<form id="addFileForm">
            		<input type="hidden" name="teachingPlanId"/>
                    <div class="form-group" style="display:none">
                        <label class="control-label" for="fileName">文档名称:</label>
                        <input id="filePath" type="text" class="form-control" name="filePath">
                        <input id="fileName" type="text" class="form-control" name="fileName">
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            	<label class="control-label" for="filePath" style="float:left">文档附件:</label>
             	<form id="upload_form1" enctype="multipart/form-data" style="clear:both">
            			<input id="file1" type="file" name="file" style="display:inline-block;float:left;width:80%;" onchange="uploadF1()"/>
        		</form>
            </div>
		</div> 
	</div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="noResetModel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">修改教案</h4>
            </div>
            <div class="modal-body">
            	<form id="editForm">
                    <input type="hidden" name="id"/>
                    <div class="form-group">
                        <label class="control-label" for="teachingPlanName"><span class="asterisk">*</span>教案名称:</label>
                        <input id="teachingPlanName" type="text" class="form-control" name="teachingPlanName"
                               readonly required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="estimatedTimeDuration"><span class="asterisk">*</span>预计时长:</label>
                        <input id="estimatedTimeDuration" type="text" class="form-control" name="estimatedTimeDuration"
                               required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="teachingPlanDescription"><span class="asterisk">*</span>教案描述:</label>
                        <textarea id="teachingPlanDescription" rows="6" type="text" class="form-control" name="teachingPlanDescription"
                               required></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- <div class="form-group" style="display:none">
                        <label class="control-label" for="documentName">文档名称:</label>
                        <input id="documentPath" type="text" class="form-control" name="documentPath">
                        <input id="documentName" type="text" class="form-control" name="documentName">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="control-label" for="videoName">视频名称:</label>
                        <input id="videoPath" type="text" class="form-control" name="videoPath">
                        <input id="videoName" type="text" class="form-control" name="videoName">
                        <div class="help-block with-errors"></div>
                    </div> -->
                </form>
            </div>
            <div class="modal-footer">
                <!-- <label class="control-label" for="documentPath" style="float:left">文档附件:</label>
             	<form id="upload_form3" enctype="multipart/form-data" style="clear:both">
            			<input id="file3" type="file" name="file" style="display:inline-block;float:left;width:80%;"/>
            			<button type="button" class="btn btn-default" onclick="uploadF3()">上传</button>
        		</form>
        		<label class="control-label" for="videoPath" style="float:left">视频附件:</label>
        		<form id="upload_form4" enctype="multipart/form-data" style="clear:both">
            			<input id="file4" type="file" name="file" style="display:inline-block;float:left;width:80%;"/>
            			<button type="button" class="btn btn-default" onclick="uploadF4()">上传</button>
        		</form> -->
                <button type="button" class="btn btn-default" style="margin-top: 30px;" onclick="noResetModel()">关闭</button>
                <button type="button" class="btn btn-primary" style="margin-top: 30px;" onclick="resetJ()">
                    确定
                </button>
            </div>
		</div> 
	</div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="noDeleteModel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">删除教案</h4>
            </div>
            <div class="modal-body">
            确定要删除当前教案？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="noDeleteModel()">取消</button>
                <button type="button" class="btn btn-primary" onclick="deleteC()">
                    确定
                </button>
            </div>
		</div> 
	</div>
</div>

<div class="modal fade" id="deleteFileModal" tabindex="-1" role="dialog" aria-labelledby="deleteFileModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="noDeleteFileModel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteFileModalLabel">删除文档</h4>
            </div>
            <div class="modal-body">
            确定要删除当前文档？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="noDeleteFileModel()">取消</button>
                <button type="button" class="btn btn-primary" onclick="deleteFileC()">
                    确定
                </button>
            </div>
		</div> 
	</div>
</div>
<script type="text/javascript">
    $(function () {
    	var datas = [];
    	var jiaoanId = localStorage.getItem("jiaoanId");
    	$.ajax({
            type:"GET",
            url: CONTEXT_PATH + '/courses/' + jiaoanId,
            success:function(data){
            	datas.push(data.data);
            	$('#tb').bootstrapTable({
                    data: datas,
                    pagination : false,
                    detailView: false,
                    columns: [
                              {field: 'courseCode', title: '课程编号', halign: 'center', align: 'center'},
                              {field: 'courseName', title: '课程名称', halign: 'center', align: 'center'},
                              {field: 'courseType', title: '课程类型', halign: 'center', align: 'center'},
                              {field: 'courseDirector', title: '课程负责人', halign: 'center', align: 'center'},
                              {field: 'createTime', title: '创建时间', halign: 'center', align: 'center'}
                    ]
                });
            }
        });
    	
        var setting = {
                data: {
                    simpleData: {
                        enable: true,
                        idKey: 'id',
                        pIdKey: 'pId',
                        rootPId: 0
                    }
                },
                view: {
                    expandSpeed: 300,
                },
                async: {
                    enable: true,
                    url: getAsyncUrl
                },
                callback: {
                    asyncError: zTreeOnAsyncError,
                    beforeClick: beforeClick
                }
            }, zNodes = [];

        $.fn.zTree.init($("#tree"), setting, zNodes);

        // 获取异步连接
        function getAsyncUrl(treeId, treeNode) {
            return treeNode == undefined ? CONTEXT_PATH + '/chapters/toptree?id=' + jiaoanId : CONTEXT_PATH + '/chapters/tree?pId=' + treeNode.id;
        }

        // 加载错误的fun
        function zTreeOnAsyncError(event, treeId, treeNode) {
            alert('数据加载失败!');
        }

        // 点击之后的动作
        function beforeClick(treeId, treeNode) {
        	idid = treeNode.id;
        	$('#addForm').find('[name=chapterId]').val(idid);
        	getPlan();
        }
    });
    
    function returnBack() {
    	document.querySelector('a[href="#teachingplan"]').click();
    }
    
    function showAddModel() {
    	if($('#addForm').find('[name=chapterId]').val() == '') {
    		alert('请先选择一个章节');
    	}else {
    		$('#addModal').css('display', 'block');
        	$('#addModal').addClass('in');
        	$('#addForm').find('[name=teachingPlanName]').val('');
        	$('#addForm').find('[name=teachingPlanDescription]').val('');
        	$('#addForm').find('[name=estimatedTimeDuration]').val('');
        	$('#addForm').find('[name=documentName]').val('');
        	$('#addForm').find('[name=documentPath]').val('');
        	//$('#addForm').find('[name=videoName]').val(''),
        	//$('#addForm').find('[name=videoPath]').val('')
    	}
    }
    
    function noAddModel() {
    	$('#addModal').css('display', 'none');
    	$('#addModal').removeClass("in");
    }
    
    function addJ() {
    	$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/teachingplan/create',
            data: {
            	chapterId: $('#addForm').find('[name=chapterId]').val(),
            	teachingPlanName: $('#addForm').find('[name=teachingPlanName]').val(),
            	teachingPlanDescription: $('#addForm').find('[name=teachingPlanDescription]').val(),
            	estimatedTimeDuration: $('#addForm').find('[name=estimatedTimeDuration]').val(),
            	documentName: $('#addForm').find('[name=documentName]').val(),
            	documentPath: $('#addForm').find('[name=documentPath]').val(),
            	//videoName: $('#addForm').find('[name=videoName]').val(),
            	//videoPath: $('#addForm').find('[name=videoPath]').val()
            },
            success:function(data){
            	noAddModel();
            	getPlan();
            }
        });
    }
    
    function showResetModel(id) {
    	$('#editModal').css('display', 'block');
    	$('#editModal').addClass('in');
    	$.ajax({
            type:"GET",
            url: CONTEXT_PATH + '/teachingplan/list?id=' + id,
            success:function(data){
            	$('#editForm').find('[name=id]').val(id);
            	$('#editForm').find('[name=teachingPlanName]').val(data.data[0].teachingPlanName);
            	$('#editForm').find('[name=estimatedTimeDuration]').val(data.data[0].estimatedTimeDuration);
            	$('#editForm').find('[name=teachingPlanDescription]').val(data.data[0].teachingPlanDescription);
            	$('#editForm').find('[name=documentName]').val(data.data[0].documentName);
            	$('#editForm').find('[name=documentPath]').val(data.data[0].documentPath);
            	//$('#editForm').find('[name=videoName]').val(data.data[0].videoName);
            	//$('#editForm').find('[name=videoPath]').val(data.data[0].videoPath);
            }
        });
    }
    
    function noResetModel() {
    	$('#editModal').css('display', 'none');
    	$('#editModal').removeClass("in");
    }
    
    function resetJ() {
    	var newData;
    	if($('#editForm').find('[name=documentPath]').val() == '') {
    		newData = {
            	id: $('#editForm').find('[name=id]').val(),
            	teachingPlanDescription: $('#editForm').find('[name=teachingPlanDescription]').val(),
            	estimatedTimeDuration: $('#editForm').find('[name=estimatedTimeDuration]').val(),
            	//documentName: $('#editForm').find('[name=documentName]').val()
            	//videoName: $('#editForm').find('[name=videoName]').val()
            };
    	}
    	/*else if($('#editForm').find('[name=documentPath]').val() != '' && $('#editForm').find('[name=videoPath]').val() != '') {
    		newData = {
                	id: $('#editForm').find('[name=id]').val(),
                	teachingPlanDescription: $('#editForm').find('[name=teachingPlanDescription]').val(),
                	estimatedTimeDuration: $('#editForm').find('[name=estimatedTimeDuration]').val(),
                	documentName: $('#editForm').find('[name=documentName]').val(),
                	documentPath: $('#editForm').find('[name=documentPath]').val()
                	//videoName: $('#editForm').find('[name=videoName]').val(),
                	//videoPath: $('#editForm').find('[name=videoPath]').val()
                };
    	}else if($('#editForm').find('[name=documentPath]').val() == '') {
    		newData = {
                	id: $('#editForm').find('[name=id]').val(),
                	teachingPlanDescription: $('#editForm').find('[name=teachingPlanDescription]').val(),
                	estimatedTimeDuration: $('#editForm').find('[name=estimatedTimeDuration]').val(),
                	documentName: $('#editForm').find('[name=documentName]').val()
                	//videoName: $('#editForm').find('[name=videoName]').val(),
                	//videoPath: $('#editForm').find('[name=videoPath]').val()
                };
    	}*/
    	else {
    		newData = {
                	id: $('#editForm').find('[name=id]').val(),
                	teachingPlanDescription: $('#editForm').find('[name=teachingPlanDescription]').val(),
                	estimatedTimeDuration: $('#editForm').find('[name=estimatedTimeDuration]').val(),
                	documentName: $('#editForm').find('[name=documentName]').val(),
                	documentPath: $('#editForm').find('[name=documentPath]').val()
                	//videoName: $('#editForm').find('[name=videoName]').val()
                };
    	}
    	$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/teachingplan/update',
            data: newData,
            success:function(data){
            	noResetModel();
            	getPlan();
            }
        });
    }
    var dddid;
    function deleteJ(id) {
    	$('#deleteModal').css('display', 'block');
    	$('#deleteModal').addClass('in');
    	dddid = id;
    }
    
    function noDeleteModel() {
    	$('#deleteModal').css('display', 'none');
    	$('#deleteModal').removeClass("in");
    }
    
    function deleteC() {
    	$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/teachingplan/delete',
            data: {
            	id: dddid
            },
            success:function(data){
            	noDeleteModel()
            	getPlan();
            }
        });
    }
    
    var dddfileid;
    function deleteFile(id) {
    	console.log(1);
    	$('#deleteFileModal').css('display', 'block');
    	$('#deleteFileModal').addClass('in');
    	dddfileid = id;
    }
    
    function noDeleteFileModel() {
    	$('#deleteFileModal').css('display', 'none');
    	$('#deleteFileModal').removeClass("in");
    }
    
    function deleteFileC() {
    	$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/teachingplanrefile/delete',
            data: {
            	id: dddfileid
            },
            success:function(data){
            	noDeleteFileModel()
            	getPlan();
            }
        });
    }
    
    var datas;
    var idid;
    function getPlan() {
    	$.ajax({
            type:"GET",
            url: CONTEXT_PATH + '/teachingplan/list?chapterId=' + idid,
            success:function(data){
            	datas = data.data;
            	console.log(datas)
            	for(let j = 0; j < datas.length; j++) {
            		$.ajax({
                        type:"GET",
                        async: false,
                        url: CONTEXT_PATH + '/teachingplanrefile/list?techingPlanId=' + datas[j].id,
                        success:function(data){
                        	datas[j].files = data.data;
                        }
                    });
            	}
            	console.log(datas);
            	$('#jiaoanField').empty();
            	for(let i = 0; i < datas.length; i++) {
            		$("#jiaoanField").append('<div class="jblock"><div class="jid">' + (i+1) + '</div><div class="jbody"><div class="jtitle"><div class="jname">教案名称：' + datas[i].teachingPlanName + '</div><div class="jtime">预计时长：' + datas[i].estimatedTimeDuration + '分钟</div><div class="jopt"><i class="glyphicon glyphicon-plus" style="cursor:pointer;" onclick="showAddFileModel(' + datas[i].id + ')"></i> <i class="glyphicon glyphicon-edit" style="cursor:pointer;" onclick="showResetModel(' + datas[i].id + ')"></i> <i class="glyphicon glyphicon-remove" style="cursor:pointer;" onclick="deleteJ(' + datas[i].id + ')"></i></div></div><div class="jcontent">' + datas[i].teachingPlanDescription + '</div></div></div></div>');
            		for(let k = 0; k < datas[i].files.length; k++) {
            			$(".jblock:last>.jbody").append('<div class="jppt">文档链接：<a href="' + datas[i].files[k].filePath + '" download="' + datas[i].files[k].fileName + '">' + datas[i].files[k].fileName + '</a><i class="glyphicon glyphicon-remove right-icon" style="cursor:pointer;z-index:99999;" onclick="deleteFile(' + datas[i].files[k].id + ')"></i></div>');
            		}
            	}
            }
        });
    }
    
    function showAddFileModel(id) {
    	$('#addFileForm').find('[name=teachingPlanId]').val(id);
    	$('#file1').click();
    }
    function uploadF1() {
    	var formData = new FormData($('#upload_form1', window.parent.document)[0]);
    	$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/file/upload/',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success:function(data){
            	var a = $('#file1')[0].value.split('.');
            	a = a[a.length - 2];
            	a = a.split('\\');
            	a = a[a.length-1];
            	$('#addFileForm').find('[name=fileName]').val(a);
            	$('#addFileForm').find('[name=filePath]').val(data.data);
            	let teachingPlanId = $('#addFileForm').find('[name=teachingPlanId]').val();
            	$.ajax({
                    type:"POST",
                    url: CONTEXT_PATH + '/teachingplanrefile/create',
                    data: {
                    	techingPlanId: teachingPlanId,
                    	fileName: a,
                    	filePath: data.data
                    },
                    success:function(data){
                    	getPlan();
                    }
                });
            }
        });
    }
    function uploadF2() {
    	var formData = new FormData($('#upload_form2', window.parent.document)[0]);
    	$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/file/upload/',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success:function(data){
            	var a = $('#file2')[0].value.split('.');
            	a = a[a.length - 2];
            	a = a.split('\\');
            	a = a[a.length-1];
            	$('#addForm').find('[name=videoName]').val(a);
            	$('#addForm').find('[name=videoPath]').val(data.data);
            }
        });
    }
    function uploadF3() {
    	var formData = new FormData($('#upload_form3', window.parent.document)[0]);
    	$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/file/upload/',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success:function(data){
            	var a = $('#file3')[0].value.split('.');
            	a = a[a.length - 2];
            	a = a.split('\\');
            	a = a[a.length-1];
            	$('#editForm').find('[name=documentName]').val(a);
            	$('#editForm').find('[name=documentPath]').val(data.data);
            }
        });
    }
    function uploadF4() {
    	var formData = new FormData($('#upload_form4', window.parent.document)[0]);
    	$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/file/upload/',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success:function(data){
            	var a = $('#file4')[0].value.split('.');
            	a = a[a.length - 2];
            	a = a.split('\\');
            	a = a[a.length-1];
            	$('#editForm').find('[name=videoName]').val(a);
            	$('#editForm').find('[name=videoPath]').val(data.data);
            }
        });
    }
</script>
</html>