<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<section class="content-header">
    <h1>
        工具管理
        <small>工具管理页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">耗材工具</a></li>
        <li><a href="#">工具管理</a></li>
        <li class="active">工具管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                                <label for="searchName"> 工具名称 </label>
                                <input type="text" class="form-control input-sm" name="assetName" id="searchName" placeholder="请输入工具名称">
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                    <i class="glyphicon glyphicon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    清空
                                </button>
                            </div>
                        </form>
                        <div class="btn-group btn-group-sm">
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button shiro:hasPermission="tools:create" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal" onclick="addLoad()"><i class="glyphicon glyphicon-plus"></i> 新增
                            </button>
                            <!-- Indicates caution should be taken with this action -->
                            <button shiro:hasPermission="tools:update" type="button" id="editBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#editModal"
                                    data-action="{type:'editable',form:'#editForm',table:'#table',after:'editAfter'}"
                                    disabled><i class="glyphicon glyphicon-edit"></i> 修改
                            </button>
                            <!-- Indicates a dangerous or potentially negative action -->
                            <button shiro:hasPermission="tools:delete" type="button" id="deleteBtn" class="btn btn-default"
                            		data-toggle="modal"
                                    data-target="#deleteModal"
                                    data-action="{type:'delete',form:'#deleteForm',idField:'id',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">添加工具</h4>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="assetName"><span class="asterisk">*</span>工具名称:</label>
                        <input id="assetName" type="text" class="form-control" name="assetName" placeholder="输入工具名称"
                               required>
                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="addAssetClassification"><span class="asterisk">*</span>工具分类:</label>
                        	<input id="addAssetClassification" type="text" class="form-control" name="assetClassification" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="assetClassificationCode"><span class="asterisk">*</span>工具分类:</label>
	                        <select id="assetClassificationCode" class="form-control select2" data-minimum-results-for-search="-1" name="assetClassificationCode" onchange="addAssetClassificationChange()"
	                                data-placeholder="请从列表选择一项" required>
	                                <option></option>
	                            <option th:each="assetClassification: ${assetClassificationList}" th:value="${assetClassification.id}" th:text="${assetClassification.classificationName}">
	                           工具分类不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="addSpecificationType"><span class="asterisk">*</span>规格型号:</label>
                        	<input id="addSpecificationType" type="text" class="form-control" name="specificationType" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="specificationTypeCode"><span class="asterisk">*</span>规格型号:</label>
	                        <select id="specificationTypeCode" class="form-control select2" data-minimum-results-for-search="-1" name="specificationTypeCode" onchange="addSpecificationTypeChange()"
	                                data-placeholder="请从列表选择一项" required>
	                                <option></option>
	                            <option th:each="assetType: ${assetTypeList}" th:value="${assetType.id}" th:text="${assetType.typeName}">
	                            规格型号不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                                            <div style="display: none;">
                        	<label class="control-label" for="addUseDepartment"><span class="asterisk">*</span>所属系:</label>
                        	<input id="addUseDepartment" type="text" class="form-control" name="useDepartment" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="useDepartmentId"><span class="asterisk">*</span>所属系:</label>
	                        <select id="useDepartmentId" class="form-control select2" name="useDepartmentId" onchange="addUseDepartmentChange()"
	                                data-placeholder="请从列表选择一项" required>
	                                <option></option>
	                            <option th:each="organization: ${organizationList}" th:value="${organization.id}" th:text="${organization.name}">
	                            所属系不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="addPositionName"><span class="asterisk">*</span>存放地点:</label>
                        	<input id="addPositionName" type="text" class="form-control" name="positionName" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="positionCode"><span class="asterisk">*</span>存放地点:</label>
	                        <select id="positionCode" class="form-control select2" name="positionCode" onchange="addPositionChange()"
	                                data-placeholder="请从列表选择一项" required>
	                                <option></option>
	                            <option th:each="position: ${positionList}" th:value="${position.id}" th:text="${position.positionName}">
	                            存放地点不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="addAssetUser"><span class="asterisk">*</span>使用人:</label>
                        	<input id="addAssetUser" type="text" class="form-control" name="assetUser" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="assetUserId"><span class="asterisk">*</span>使用人:</label>
	                        <select id="assetUserId" class="form-control select2" data-minimum-results-for-search="-1" name="assetUserId" onchange="addAssetUserChange()"
	                                data-placeholder="请从列表选择一项" required>
	                                <option></option>
	                            <option th:each="user: ${userList}" th:value="${user.id}" th:text="${user.username}">
	                            使用人不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="addDatepicker"><span class="asterisk">*</span>记账日期:</label>
                        	<div class='input-group date' id='addDatepicker'>
				                <input type='text' class="form-control" name="bookkeepingDate" required>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
				            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="assetValue"><span class="asterisk">*</span>工具价值（元）:</label>
	                        <input id="assetValue" type="text" class="form-control" name="assetValue" placeholder="输入价值"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="addForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#addForm',url:'@{/tools/create}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">修改工具</h4>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" name="id"/>
                    <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="assetCode"><span class="asterisk">*</span>工具编号:</label>
                        <input id="assetCode" type="text" class="form-control" name="assetCode"
                               readonly required>
                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="assetName"><span class="asterisk">*</span>工具名称:</label>
                        <input id="assetName" type="text" class="form-control" name="assetName" placeholder="输入工具名称"
                               required>
                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                                        <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="editAssetClassification"><span class="asterisk">*</span>工具分类:</label>
                        	<input id="editAssetClassification" type="text" class="form-control" name="assetClassification" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="assetClassificationCode"><span class="asterisk">*</span>工具分类:</label>
	                        <select id="assetClassificationCode" class="form-control select2" data-minimum-results-for-search="-1" name="assetClassificationCode" onchange="editAssetClassificationChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="assetClassification: ${assetClassificationList}" th:value="${assetClassification.id}" th:text="${assetClassification.classificationName}">
	                            工具分类不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="editSpecificationType"><span class="asterisk">*</span>规格型号:</label>
                        	<input id="editSpecificationType" type="text" class="form-control" name="specificationType" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="specificationTypeCode"><span class="asterisk">*</span>规格型号:</label>
	                        <select id="specificationTypeCode" class="form-control select2" data-minimum-results-for-search="-1" name="specificationTypeCode" onchange="editSpecificationTypeChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="assetType: ${assetTypeList}" th:value="${assetType.id}" th:text="${assetType.typeName}">
	                            规格型号不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                    <div style="display: none;">
                        	<label class="control-label" for="editUseDepartment"><span class="asterisk">*</span>所属系:</label>
                        	<input id="editUseDepartment" type="text" class="form-control" name="useDepartment" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="useDepartmentId"><span class="asterisk">*</span>所属系:</label>
	                        <select id="useDepartmentId" class="form-control select2" name="useDepartmentId" onchange="editUseDepartmentChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="organization: ${organizationList}" th:value="${organization.id}" th:text="${organization.name}">
	                            所属系不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="editPositionName"><span class="asterisk">*</span>存放地点:</label>
                        	<input id="editPositionName" type="text" class="form-control" name="positionName" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="positionCode"><span class="asterisk">*</span>存放地点:</label>
	                        <select id="positionCode" class="form-control select2" name="positionCode" onchange="editPositionChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="position: ${positionList}" th:value="${position.id}" th:text="${position.positionName}">
	                            存放地点不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="editAssetUser"><span class="asterisk">*</span>使用人:</label>
                        	<input id="editAssetUser" type="text" class="form-control" name="assetUser" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="assetUserId"><span class="asterisk">*</span>使用人:</label>
	                        <select id="assetUserId" class="form-control select2" data-minimum-results-for-search="-1" name="assetUserId" onchange="editAssetUserChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="user: ${userList}" th:value="${user.id}" th:text="${user.username}">
	                            使用人不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="editDatepicker"><span class="asterisk">*</span>记账日期:</label>
                        	<div class='input-group date' id='editDatepicker'>
				                <input type='text' class="form-control" name="bookkeepingDate" required>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
				            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="assetValue"><span class="asterisk">*</span>工具价值（元）:</label>
	                        <input id="assetValue" type="text" class="form-control" name="assetValue" placeholder="输入价值"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="editForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#editForm',url:'@{/tools/update}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteSmallModalLabel">删除工具</h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm"></form>
                确定要删除选中的 <span class="records"></span> 条记录?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="deleteForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#deleteForm',url:'@{/tools/delete-batch}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<div id="actionButtons" class="admin-hide">
    <!-- <a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a> -->
    <a shiro:hasPermission="tools:update" class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>　
    <a shiro:hasPermission="tools:delete" class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i></a>　
</div>

<script th:inline="javascript">
    var $table = $('#table');

    $(function () {
    	$('#addDatepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
    	$('#editDatepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
        $table.bootstrapTable({
            url: CONTEXT_PATH + '/tools/list',
            idField: 'id',
            detailView: false,
            columns: [
                {field: 'state', checkbox: true},
                {field: 'id', title: '序号', sortable: true, halign: 'left',
                	formatter: function(value,row,index) {
                		var pageSize = $table.bootstrapTable('getOptions').pageSize;
                		var pageNumber = $table.bootstrapTable('getOptions').pageNumber;
                		return pageSize * (pageNumber - 1) + index + 1;
                	}
                },
                {field: 'assetCode', title: '工具编号', sortable: true, halign: 'left'},
                {field: 'assetName', title: '工具名称', sortable: true, halign: 'left', formatter: 'assetNameFormatter'},
                {field: 'assetClassification', title: '工具分类', halign: 'center', align: 'center'},
                {field: 'specificationType', title: '规格型号', halign: 'center', align: 'center'},
                {field: 'assetValue', title: '价值（元）', sortable: true, halign: 'left'},
                {field: 'bookkeepingDate', title: '记账日期', halign: 'center', align: 'center'},
                {field: 'positionName', title: '存放地点', halign: 'center', align: 'center'},
                {field: 'useDepartment', title: '所属系', halign: 'center', align: 'center'},
                {field: 'assetUser', title: '使用人', halign: 'center', align: 'center'},
                {
                    field: 'action',
                    title: '操作',
                    halign: 'center',
                    align: 'center',
                    formatter: 'actionFormatter',
                    events: 'actionEvents',
                    clickToSelect: false
                }
            ]
        });
    });

    function editAfter(obj, row) {
    	$('#editForm').find('[name=assetClassificationCode]').find('option[value=' + row.assetClassificationCode + ']').prop('selected', true);
    	$('#editForm').find('[name=specificationTypeCode]').find('option[value=' + row.specificationTypeCode + ']').prop('selected', true);
    	$('#editForm').find('[name=useDepartmentId]').find('option[value=' + row.useDepartmentId + ']').prop('selected', true);
    	$('#editForm').find('[name=assetUserId]').find('option[value=' + row.assetUserId + ']').prop('selected', true);
    	$('#editForm').find('[name=postionCode]').find('option[value=' + row.postionCode + ']').prop('selected', true);
    }

    function assetNameFormatter(value, row, index) {
    	return '<a href="#" onclick="refresh(\'' + row.id + '\',\'' + row.assetName + '\')">' + value +'</a>'
    }

    function actionFormatter(value, row, index) {
        return $('#actionButtons').html();
    }

    function refresh(id, name) {
    	localStorage.setItem("toolId", id);
    	localStorage.setItem("toolName", name);
    	window.location.hash = '#collectionrecord';
    	location.reload();
    }

    window.actionEvents = {
        'click .edit': function (e, value, row, index) {
            $('#editModal').modal('show')
            $('#editForm').fillForm(row);
            editAfter('', row);
        },
        'click .remove': function (e, value, row, index) {
            $('#deleteModal').modal('show');
            $('.records').html('1');
            var html = '';
            for (var key in row) {
                html += '<input type="hidden" name="' + key + '" value="' + row[key] + '">';
            }
            $('#deleteForm').html(html);
        }
    };
    
    function addAssetClassificationChange() {
    	var addAssetClassificationText = $('#addForm').find('[name=assetClassificationCode]').find('option:selected').text();
    	$('#addAssetClassification').val(addAssetClassificationText);
    }
    
    function addSpecificationTypeChange() {
    	var addSpecificationTypeText = $('#addForm').find('[name=specificationTypeCode]').find('option:selected').text();
    	$('#addSpecificationType').val(addSpecificationTypeText);
    }
    
    function addUseDepartmentChange() {
    	var addUseDepartmentText = $('#addForm').find('[name=useDepartmentId]').find('option:selected').text();
    	$('#addUseDepartment').val(addUseDepartmentText);
    }
    
    function addAssetUserChange() {
    	var addAssetUserText = $('#addForm').find('[name=assetUserId]').find('option:selected').text();
    	$('#addAssetUser').val(addAssetUserText);
    }
    
    function addPositionChange() {
    	var addPositionText = $('#addForm').find('[name=positionCode]').find('option:selected').text();
    	$('#addPositionName').val(addPositionText);
    }
    
    function editAssetClassificationChange() {
    	var editAssetClassificationText = $('#editForm').find('[name=assetClassificationCode]').find('option:selected').text();
    	$('#editAssetClassification').val(editAssetClassificationText);
    }
    
    function editSpecificationTypeChange() {
    	var editSpecificationTypeText = $('#editForm').find('[name=specificationTypeCode]').find('option:selected').text();
    	$('#editSpecificationType').val(editSpecificationTypeText);
    }
    
    function editUseDepartmentChange() {
    	var editUseDepartmentText = $('#editForm').find('[name=useDepartmentId]').find('option:selected').text();
    	$('#editUseDepartment').val(editUseDepartmentText);
    }
    
    function editAssetUserChange() {
    	var editAssetUserText = $('#editForm').find('[name=assetUserId]').find('option:selected').text();
    	$('#editAssetUser').val(editAssetUserText);
    }
    
    function editPositionChange() {
    	var editPositionText = $('#editForm').find('[name=positionCode]').find('option:selected').text();
    	$('#editPositionName').val(editPositionText);
    }
    
    function addLoad() {
    	//addAssetClassificationChange();
    	//addSpecificationTypeChange();
    	//addPositionChange();
    	//addUseDepartmentChange();
    	//addAssetUserChange();
    	$('#addDatepicker').datepicker('setDate', new Date());
    }
</script>
</html>