<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<style>
	.ttt {
		line-height: 40px;
    text-indent: 15px;
    font-weight: 700;
    font-size: 16px;
	}
	.upsucc{
		color: green
	}
</style>
<section class="content-header">
    <h1>
        仪器工具管理
        <small>工具维修申请页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">仪器耗材</a></li>
        <li><a href="#">仪器工具管理</a></li>
        <li class="active">工具维修单申请</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body" style="padding: 0 20%;">
                <div style="border-left:1px solid #c1c1c1;border-right:1px solid #c1c1c1;padding:10px 30px;">
                	<div class="ttt" style="margin-bottom: 30px">新增工具维修申请单</div>
                	<div class="wxd">
                <form id="addForm">
                	<input type="hidden" id="flowStatusCode" name="flowStatusCode"/>
                	<input type="hidden" id="flowStatus" name="flowStatus"/>
                	<input type="hidden" id="flowTypeCode" name="flowTypeCode"/>
                	<input type="hidden" id="flowTypeName" name="flowTypeName"/>
                	<div class="form-group">
                		<div class="col-md-12">
                			<label class="control-label" for="recordName"><span class="asterisk">*</span>维修单名称:</label>
	                        <input id="recordName" type="text" class="form-control" name="recordName" placeholder="输入维修单名称"
	                               required>
	                        <div class="help-block with-errors"></div>
                		</div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="assetName"><span class="asterisk">*</span>工具名称:</label>
                        	<input id="assetName" type="text" class="form-control" name="assetName" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="assetId"><span class="asterisk">*</span>工具名称:</label>
		                    <select id="assetId" class="form-control select2" name="assetId" onchange="toolChange()"
		                            data-placeholder="请从列表选择一项" required>
		                            <option></option>
		                        <option th:each="tool: ${toolsList}" th:value="${tool.id}" th:text="${tool.assetName}">
		                            工具不存在
		                        </option>
		                    </select>
		                    <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="assetClassificationCode"><span class="asterisk">*</span>工具分类:</label>
                        	<input id="assetClassificationCode" type="text" class="form-control" name="assetClassificationCode" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="assetClassification"><span class="asterisk">*</span>工具分类:</label>
                        	<input id="assetClassification" type="text" class="form-control" name="assetClassification" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                        	<label class="control-label" for="datepicker"><span class="asterisk">*</span>故障发生时间:</label>
                        	<div class='input-group date' id='datepicker'>
				                <input type='text' class="form-control" name="failureTime" required>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
				            <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="positionCode"><span class="asterisk">*</span>存放地点:</label>
                        	<input id="positionCode" type="text" class="form-control" name="positionCode" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="positionName"><span class="asterisk">*</span>存放地点:</label>
                        	<input id="positionName" type="text" class="form-control" name="positionName" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="applicantDepartmentId"><span class="asterisk">*</span>所属部门:</label>
                        	<input id="applicantDepartmentId" type="text" class="form-control" name="applicantDepartmentId" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="applicantDepartment"><span class="asterisk">*</span>所属部门:</label>
	                        <input id="applicantDepartment" type="text" class="form-control" name="applicantDepartment" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="applicantId"><span class="asterisk">*</span>申请人:</label>
                        	<input id="applicantId" type="text" class="form-control" name="applicantId" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="applicant"><span class="asterisk">*</span>申请人:</label>
                        	<input id="applicant" type="text" class="form-control" name="applicant" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="pendingPerson"><span class="asterisk">*</span>处理人:</label>
                        	<input id="pendingPerson" type="text" class="form-control" name="pendingPerson" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                        	<label class="control-label" for="pendingPersonId"><span class="asterisk">*</span>处理人:</label>
	                        <select id="pendingPersonId" class="form-control select2" data-minimum-results-for-search="-1" name="pendingPersonId" onchange="pendingPersonChange()"
	                                data-placeholder="请从列表选择一项" required>
	                                <option></option>
	                            <!-- <option th:each="user: ${userList}" th:value="${user.id}" th:text="${user.username}">
	                         处理人不存在
	                            </option> -->
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="faultDescription">故障描述:</label>
	                        <textarea id="faultDescription" type="text" rows="6" class="form-control" name="faultDescription" placeholder="输入故障描述"></textarea>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group" style="display:none;">
                    	<div class="col-md-6">
                    		<label class="control-label" for="attachmentName">附件名称:</label>
	                        <input id="attachmentName" type="text" class="form-control" name="attachmentName">
	                        <input id="attachmentPath" type="text" class="form-control" name="attachmentPath">
	                        <div class="help-block with-errors"></div>
                    	</div>
                    </div>
                </form>
             	<form id="upload_form" enctype="multipart/form-data" style="clear:both">
             		<div class="col-md-12">
             			<label class="control-label" for="documentPath" style="float:left" id="succup">上传附件:</label>
            			<input id="file" type="file" name="file" style="clear:both;display:inline-block;float:left;width:40%;"/>
            			<button type="button" class="btn btn-default" onclick="uploadF()" style="margin-top:18px">上传</button>
             		</div>
        		</form>
                	</div>
                	<div class="fff" style="text-align:center">
                		<button style="margin:20px auto 30px auto" type="submit" form="addForm" class="btn btn-primary"
		                        data-action="{type:'submit',form:'#addForm',url:'@{/maintenancerecord/create}'}">
		                    申请维修
		                </button>
                	</div>
                	</div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script th:inline="javascript">
    $(function () {
    	$('#datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
    	$('#datepicker').datepicker('setDate', new Date());
    	$('#flowStatusCode').val('em_confirmed');
    	$('#flowStatus').val('待确认');
    	$('#flowTypeCode').val('tools_maintenance');
    	$('#flowTypeName').val('工具仪器维修');
    	var username = $('.dropdown-toggle .hidden-xs')[0].innerHTML;
    	$.ajax({
            type:"GET",
            url: CONTEXT_PATH + '/user/list?username=' + username,
            success:function(data){
            	$('#applicantId').val(data.data[0].id);
            	$('#applicant').val(data.data[0].username);
            	$('#applicantDepartmentId').val(data.data[0].organizationId);
            	$('#applicantDepartment').val(data.data[0].organizationName);
            }
        });
    	$.ajax({
            type:"GET",
            url: CONTEXT_PATH + '/flownode/list?flowNodeCode=em_confirmed',
            success:function(data){
            	$.ajax({
                    type:"GET",
                    url: CONTEXT_PATH + '/user/listbyroleid?roleId=' + data.data[0].roleId,
                    success:function(data){
                    	for(let i = 0; i < data.data.length; i++) {
                    		var opt = '<option value="' + data.data[i].id + '">' + data.data[i].username + '</option>';
                        	$("#pendingPersonId").append(opt);
                    	}
                    }
                });
            }
        });
    	//assetChange();
    	//assetClassificationChange();
    	//applicantDepartmentChange();
    	//applicantChange();
    	//positionChange();
    });
    
    function toolChange() {
    	var assetText = $('#addForm').find('[name=assetId]').find('option:selected').text();
    	$('#assetName').val(assetText);
    	var assetId = $('#addForm').find('[name=assetId]').find('option:selected').val();
    	$.ajax({
            type:"GET",
            url: CONTEXT_PATH + '/tools/list?id=' + assetId,
            success:function(data){
            	console.log(data.data)
            	$('#assetClassification').val(data.data[0].assetClassification);
            	$('#assetClassificationCode').val(data.data[0].assetClassificationCode);
            	$('#positionCode').val(data.data[0].positionCode);
            	$('#positionName').val(data.data[0].positionName);
            }
        });
    }
    
    function assetClassificationChange() {
    	var assetClassificationText = $('#addForm').find('[name=assetClassificationCode]').find('option:selected').text();
    	$('#assetClassification').val(assetClassificationText);
    }
    
    function applicantDepartmentChange() {
    	var applicantDepartmentText = $('#addForm').find('[name=applicantDepartmentId]').find('option:selected').text();
    	$('#applicantDepartment').val(applicantDepartmentText);
    }
    
    function pendingPersonChange() {
    	var pendingPersonText = $('#addForm').find('[name=pendingPersonId]').find('option:selected').text();
    	$('#pendingPerson').val(pendingPersonText);
    }
    
    function positionChange() {
    	var poaitionText = $('#addForm').find('[name=positionCode]').find('option:selected').text();
    	$('#positionName').val(poaitionText);
    }
    
    function uploadF() {
    	var formData = new FormData($('#upload_form', window.parent.document)[0]);
    	$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/file/upload/',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success:function(data){
            	var a = $('#file')[0].value.split('.');
            	a = a[a.length - 2];
            	a = a.split('\\');
            	a = a[a.length-1];
            	$('#addForm').find('[name=attachmentName]').val(a);
            	$('#addForm').find('[name=attachmentPath]').val(data.data);
            	$('#succup').append('<span class="upsucc">（上传成功）</span>');
            }
        });
    }
</script>
</html>