<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<section class="content-header">
    <h1>
        仪器工具管理
        <small>工具管理页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">仪器耗材</a></li>
        <li><a href="#">仪器工具管理</a></li>
        <li class="active">工具管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                    <a href="" style="display: none" id="exceldownload" download="工具.xls"></a>
                                                            	<form id="importexcel" enctype="multipart/form-data">
            						<input id="file" type="file" name="file" onchange="importexcel()" style="display:none;"/>
        						</form>
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                                <label for="searchName"> 工具名称 </label>
                                <input type="text" class="form-control input-sm" name="assetName" id="searchName" placeholder="请输入工具名称">
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                    <i class="glyphicon glyphicon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    清空
                                </button>
                                                                <button type="button" class="btn btn-default" onclick="handleImportClick()">
                                    <i class="glyphicon glyphicon-open"></i>
                                    导入
                                </button>
                                <button type="button" class="btn btn-default" onclick="exportexcel()">
                                    <i class="glyphicon glyphicon-save"></i>
                                    导出
                                </button>
                            </div>
                        </form>
                        <div class="btn-group btn-group-sm">
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button shiro:hasPermission="tools:create" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal" onclick="addLoad()"><i class="glyphicon glyphicon-plus"></i> 新增
                            </button>
                            <!-- Indicates caution should be taken with this action -->
                            <button shiro:hasPermission="tools:update" type="button" id="editBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#editModal"
                                    data-action="{type:'editable',form:'#editForm',table:'#table',after:'editAfter'}"
                                    disabled><i class="glyphicon glyphicon-edit"></i> 修改
                            </button>
                            <!-- Indicates a dangerous or potentially negative action -->
                            <button shiro:hasPermission="tools:delete" type="button" id="deleteBtn" class="btn btn-default"
                            		data-toggle="modal"
                                    data-target="#deleteModal"
                                    data-action="{type:'delete',form:'#deleteForm',idField:'id',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">添加工具</h4>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="assetName"><span class="asterisk">*</span>工具编号:</label>
                        <input id="assetCode" type="text" class="form-control" name="assetCode" placeholder="输入工具编号"
                               required>
                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="assetName"><span class="asterisk">*</span>工具名称:</label>
                        <input id="assetName" type="text" class="form-control" name="assetName" placeholder="输入工具名称"
                               required>
                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="addAssetClassification"><span class="asterisk">*</span>工具分类:</label>
                        	<input id="addAssetClassification" type="text" class="form-control" name="assetClassification" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="assetClassificationCode"><span class="asterisk">*</span>工具分类:</label>
	                        <select id="assetClassificationCode" class="form-control select2" name="assetClassificationCode" onchange="addAssetClassificationChange()"
	                                data-placeholder="请从列表选择一项" required>
	                                <option></option>
	                            <option th:each="assetClassification: ${assetClassificationList}" th:value="${assetClassification.id}" th:text="${assetClassification.classificationName}">
	                           工具分类不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="specificationType"><span class="asterisk">*</span>规格型号:</label>
	                        <input id="specificationType" type="text" class="form-control" name="specificationType" placeholder="输入规格型号"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="addUseDepartment"><span class="asterisk">*</span>所属系:</label>
                        	<input id="addUseDepartment" type="text" class="form-control" name="useDepartment" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="useDepartmentId"><span class="asterisk">*</span>所属系:</label>
	                        <select id="useDepartmentId" class="form-control select2" name="useDepartmentId" onchange="addUseDepartmentChange()"
	                                data-placeholder="请从列表选择一项" required>
	                                <option></option>
	                            <option th:each="organization: ${organizationList}" th:value="${organization.id}" th:text="${organization.name}">
	                            所属系不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="addPositionName"><span class="asterisk">*</span>存放地点:</label>
                        	<input id="addPositionName" type="text" class="form-control" name="positionName" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="positionCode"><span class="asterisk">*</span>存放地点:</label>
	                        <select id="positionCode" class="form-control select2" name="positionCode" onchange="addPositionChange()"
	                                data-placeholder="请从列表选择一项" required>
	                                <option></option>
	                            <option th:each="position: ${positionList}" th:value="${position.id}" th:text="${position.positionName}">
	                            存放地点不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="assetUserId"><span class="asterisk">*</span>使用人:</label>
                        	<input id="assetUserId" type="text" class="form-control" name="assetUserId" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div style="display: none;">
                        	<label class="control-label" for="assetUser"><span class="asterisk">*</span>使用人:</label>
                        	<input id="assetUser" type="text" class="form-control" name="assetUser" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="control-label" for="cumulativeReceiptQuantity"><span class="asterisk">*</span>累计入库数量:</label>
	                    <input id="cumulativeReceiptQuantity" type="text" class="form-control" name="cumulativeReceiptQuantity" placeholder="输入数量"
                               value="0">
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="control-label" for="totalExisting"><span class="asterisk">*</span>现存数量:</label>
	                    <input id="totalExisting" type="text" class="form-control" name="totalExisting" placeholder="输入数量"
                               value="0">
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="control-label" for="cumulativeCollectedQuantity"><span class="asterisk">*</span>领用数量:</label>
	                    <input id="cumulativeCollectedQuantity" type="text" class="form-control" name="cumulativeCollectedQuantity" placeholder="输入数量"
                               value="0">
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="control-label" for="remainingQuantity"><span class="asterisk">*</span>剩余数量:</label>
	                    <input id="remainingQuantity" type="text" class="form-control" name="remainingQuantity" placeholder="输入数量"
                               value="0">
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="control-label" for="repairingQuantity"><span class="asterisk">*</span>在维修数量:</label>
	                    <input id="repairingQuantity" type="text" class="form-control" name="repairingQuantity" placeholder="输入数量"
                               value="0">
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="control-label" for="toBeScrappedQuantity"><span class="asterisk">*</span>待报废数量:</label>
	                    <input id="toBeScrappedQuantity" type="text" class="form-control" name="toBeScrappedQuantity" placeholder="输入数量"
                               value="0">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="addForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#addForm',url:'@{/tools/create}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">修改工具</h4>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" name="id"/>
                    <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="assetCode"><span class="asterisk">*</span>工具编号:</label>
                        <input id="assetCode" type="text" class="form-control" name="assetCode"
                               readonly required>
                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="assetName"><span class="asterisk">*</span>工具名称:</label>
                        <input id="assetName" type="text" class="form-control" name="assetName" placeholder="输入工具名称"
                               required>
                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="editAssetClassification"><span class="asterisk">*</span>工具分类:</label>
                        	<input id="editAssetClassification" type="text" class="form-control" name="assetClassification" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="assetClassificationCode"><span class="asterisk">*</span>工具分类:</label>
	                        <select id="assetClassificationCode" class="form-control select2" name="assetClassificationCode" onchange="editAssetClassificationChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="assetClassification: ${assetClassificationList}" th:value="${assetClassification.id}" th:text="${assetClassification.classificationName}">
	                            工具分类不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        	<label class="control-label" for="specificationType"><span class="asterisk">*</span>规格型号:</label>
	                        <input id="specificationType" type="text" class="form-control" name="specificationType" placeholder="输入规格型号"
                               required>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                    <div style="display: none;">
                        	<label class="control-label" for="editUseDepartment"><span class="asterisk">*</span>所属系:</label>
                        	<input id="editUseDepartment" type="text" class="form-control" name="useDepartment" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="useDepartmentId"><span class="asterisk">*</span>所属系:</label>
	                        <select id="useDepartmentId" class="form-control select2" name="useDepartmentId" onchange="editUseDepartmentChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="organization: ${organizationList}" th:value="${organization.id}" th:text="${organization.name}">
	                            所属系不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;">
                        	<label class="control-label" for="editPositionName"><span class="asterisk">*</span>存放地点:</label>
                        	<input id="editPositionName" type="text" class="form-control" name="positionName" readonly>
	                        <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                        	<label class="control-label" for="positionCode"><span class="asterisk">*</span>存放地点:</label>
	                        <select id="positionCode" class="form-control select2" name="positionCode" onchange="editPositionChange()"
	                                data-placeholder="请从列表选择一项" required>
	                            <option th:each="position: ${positionList}" th:value="${position.id}" th:text="${position.positionName}">
	                            存放地点不存在
	                            </option>
	                        </select>
	                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="editForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#editForm',url:'@{/tools/update}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteSmallModalLabel">删除工具</h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm"></form>
                确定要删除选中的 <span class="records"></span> 条记录?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="deleteForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#deleteForm',url:'@{/tools/delete-batch}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addNumberModal" tabindex="-1" role="dialog" aria-labelledby="addNumberModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="noAddNumberModel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addNumberModalLabel">工具入库</h4>
            </div>
            <div class="modal-body">
            	<form id="addNumberForm">
                    <div class="form-group">
                        <label class="control-label" for="consumablesName"><span class="asterisk">*</span>工具名称:</label>
                        <input id="consumablesName" type="text" class="form-control" name="consumablesName"
                               readonly>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="quantity"><span class="asterisk">*</span>入库数量:</label>
	                    <input id="quantity" type="text" class="form-control" name="quantity" placeholder="输入数量"
                               required>
                               <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                    	<label class="control-label" for="unitPrice"><span class="asterisk">*</span>单位价格（元）:</label>
	                    <input id="unitPrice" type="text" class="form-control" name="unitPrice" placeholder="输入价格"
                               required>
	                    <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        	<label class="control-label" for="numberDatepicker"><span class="asterisk">*</span>入库日期:</label>
                        	<div class='input-group date' id='numberDatepicker'>
				                <input type='text' class="form-control" name="addNumberDate" required>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
				            <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="noAddNumberModel()">取消</button>
                <button type="button" class="btn btn-primary" onclick="addNumber()">
                    确定
                </button>
            </div>
		</div> 
	</div>
</div>

<div id="actionButtons" class="admin-hide">
    <!-- <a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a> -->
    <a shiro:hasPermission="tools:update" class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>　
    <a shiro:hasPermission="tools:delete" class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i></a>　
</div>

<script th:inline="javascript">
    var $table = $('#table');

    $(function () {
    	$('#numberDatepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
    	var username = $('.dropdown-toggle .hidden-xs')[0].innerHTML;
    	$.ajax({
            type:"GET",
            url: CONTEXT_PATH + '/user/list?username=' + username,
            success:function(data){
            	$('#assetUserId').val(data.data[0].id);
            	$('#assetUser').val(data.data[0].username);
            }
        });
        $table.bootstrapTable({
            url: CONTEXT_PATH + '/tools/list',
            idField: 'id',
            detailView: false,
            columns: [
                {field: 'state', checkbox: true},
                {field: 'id', title: '序号', sortable: true, halign: 'left',
                	formatter: function(value,row,index) {
                		var pageSize = $table.bootstrapTable('getOptions').pageSize;
                		var pageNumber = $table.bootstrapTable('getOptions').pageNumber;
                		return pageSize * (pageNumber - 1) + index + 1;
                	}
                },
                {field: 'assetCode', title: '工具编号', sortable: true, halign: 'left'},
                {field: 'assetName', title: '工具名称', sortable: true, halign: 'left', formatter: 'assetNameFormatter'},
                {field: 'assetClassification', title: '工具类型', halign: 'center', align: 'center'},
                {field: 'specificationType', title: '规格型号', halign: 'center', align: 'center'},
                {field: 'positionName', title: '存放地点', halign: 'center', align: 'center'},
                {field: 'useDepartment', title: '所属系', halign: 'center', align: 'center'},
                {field: 'totalExisting', title: '现存数量', halign: 'center', align: 'center'},
                {field: 'cumulativeCollectedQuantity', title: '在用数量', halign: 'center', align: 'center'},
                {field: 'remainingQuantity', title: '剩余数量', halign: 'center', align: 'center'},
                {field: 'repairingQuantity', title: '在维修数量', halign: 'center', align: 'center'},
                {field: 'toBeScrappedQuantity', title: '待报废数量', halign: 'center', align: 'center'},
                {field: 'addNumber', title: '入库操作', halign: 'center', align: 'center', formatter: 'addNumberFormatter'},
                {
                    field: 'action',
                    title: '操作',
                    halign: 'center',
                    align: 'center',
                    formatter: 'actionFormatter',
                    events: 'actionEvents',
                    clickToSelect: false
                }
            ]
        });
    });

    function editAfter(obj, row) {
    	$('#editForm').find('[name=assetClassificationCode]').find('option[value=' + row.assetClassificationCode + ']').prop('selected', true);
    	$('#editForm').find('[name=specificationTypeCode]').find('option[value=' + row.specificationTypeCode + ']').prop('selected', true);
    	$('#editForm').find('[name=useDepartmentId]').find('option[value=' + row.useDepartmentId + ']').prop('selected', true);
    	$('#editForm').find('[name=assetUserId]').find('option[value=' + row.assetUserId + ']').prop('selected', true);
    	$('#editForm').find('[name=postionCode]').find('option[value=' + row.postionCode + ']').prop('selected', true);
    }

    function assetNameFormatter(value, row, index) {
    	return '<a href="#collectionrecord" onclick="refresh(\'' + row.id + '\',\'' + row.assetName + '\')">' + value +'</a>'
    }
    
    var addNumberDatas = {};
    function addNumberFormatter(value, row, index) {
    	addNumberDatas[index] = row;
    	return '<a href="#tools" onclick="addNumberModel(' + index + ')"><i class="glyphicon glyphicon-plus"></i></a>';
    }

    function actionFormatter(value, row, index) {
        return $('#actionButtons').html();
    }

    function refresh(id, name) {
    	localStorage.setItem("toolId", id);
    	localStorage.setItem("toolName", name);
    	window.location.hash = '#collectionrecord';
    	location.reload();
    }

    window.actionEvents = {
        'click .edit': function (e, value, row, index) {
            $('#editModal').modal('show')
            $('#editForm').fillForm(row);
            editAfter('', row);
        },
        'click .remove': function (e, value, row, index) {
            $('#deleteModal').modal('show');
            $('.records').html('1');
            var html = '';
            for (var key in row) {
                html += '<input type="hidden" name="' + key + '" value="' + row[key] + '">';
            }
            $('#deleteForm').html(html);
        }
    };
    
    var addNumberData;
    function addNumberModel(data) {
    	addNumberData = addNumberDatas[data];
    	$('#addNumberForm').find('[name=consumablesName]').val(addNumberData.assetName);
    	$('#addNumberForm').find('[name=quantity]').val('');
    	$('#addNumberForm').find('[name=unitPrice]').val('');
    	$('#numberDatepicker').datepicker('setDate', new Date());
    	$('#addNumberModal').css('display', 'block');
    	$('#addNumberModal').addClass('in');
    }
    
    function noAddNumberModel() {
    	$('#addNumberModal').css('display', 'none');
    	$('#addNumberModal').removeClass("in");
    }
    
    function addNumber() {
    	if($('#numberDatepicker').datepicker('getDate') == '' || $('#addNumberForm').find('[name=unitPrice]').val() == '' || $('#addNumberForm').find('[name=quantity]').val() == '')
    		{
    		return;
    		}
    	var data = {};
    	data.assetId = addNumberData.id;
    	data.assetName = addNumberData.assetName;
    	data.assetType = '工具';
    	data.assetTypeCode = 'asset_type_tool';
    	data.warehousingTime = $("#numberDatepicker").find("input").val();
    	data.unitPrice = $('#addNumberForm').find('[name=unitPrice]').val();
    	data.warehousingQuantity = $('#addNumberForm').find('[name=quantity]').val();
    	data.positionCode = addNumberData.positionCode;
    	data.positionName = addNumberData.positionName;
    	data.managerId = addNumberData.assetUserId;
    	data.manager = addNumberData.assetUser;
    	console.log(1);
    	$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/warehousingrecord/create',
            data: data,
            success:function(data){
            	noAddNumberModel();
            	location.reload();
            }
        });
    }
    
    function addAssetClassificationChange() {
    	var addAssetClassificationText = $('#addForm').find('[name=assetClassificationCode]').find('option:selected').text();
    	$('#addAssetClassification').val(addAssetClassificationText);
    }
    
    function addSpecificationTypeChange() {
    	var addSpecificationTypeText = $('#addForm').find('[name=specificationTypeCode]').find('option:selected').text();
    	$('#addSpecificationType').val(addSpecificationTypeText);
    }
    
    function addUseDepartmentChange() {
    	var addUseDepartmentText = $('#addForm').find('[name=useDepartmentId]').find('option:selected').text();
    	$('#addUseDepartment').val(addUseDepartmentText);
    }
    
    function addAssetUserChange() {
    	var addAssetUserText = $('#addForm').find('[name=assetUserId]').find('option:selected').text();
    	$('#addAssetUser').val(addAssetUserText);
    }
    
    function addPositionChange() {
    	var addPositionText = $('#addForm').find('[name=positionCode]').find('option:selected').text();
    	$('#addPositionName').val(addPositionText);
    }
    
    function editAssetClassificationChange() {
    	var editAssetClassificationText = $('#editForm').find('[name=assetClassificationCode]').find('option:selected').text();
    	$('#editAssetClassification').val(editAssetClassificationText);
    }
    
    function editSpecificationTypeChange() {
    	var editSpecificationTypeText = $('#editForm').find('[name=specificationTypeCode]').find('option:selected').text();
    	$('#editSpecificationType').val(editSpecificationTypeText);
    }
    
    function editUseDepartmentChange() {
    	var editUseDepartmentText = $('#editForm').find('[name=useDepartmentId]').find('option:selected').text();
    	$('#editUseDepartment').val(editUseDepartmentText);
    }
    
    function editAssetUserChange() {
    	var editAssetUserText = $('#editForm').find('[name=assetUserId]').find('option:selected').text();
    	$('#editAssetUser').val(editAssetUserText);
    }
    
    function editPositionChange() {
    	var editPositionText = $('#editForm').find('[name=positionCode]').find('option:selected').text();
    	$('#editPositionName').val(editPositionText);
    }
    
    function addLoad() {
    	//addAssetClassificationChange();
    	//addSpecificationTypeChange();
    	//addPositionChange();
    	//addUseDepartmentChange();
    	//addAssetUserChange();
    }
    
    function handleImportClick() {
    	$('#file').click();
    }
    
    function importexcel() {
    	var formData = new FormData($('#importexcel', window.parent.document)[0]);
    	$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/file/upload/',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success:function(data){
            	$.ajax({
                    type:"POST",
                    url: CONTEXT_PATH + '/tools/importexcel/',
                    data: {path: data.data},
                    success:function(data){
                    	location.reload();
                    }
                });
            }
        });
    }
    
    function exportexcel() {
    	var assetName = $('#searchName').val();
    	$.ajax({
            type:"POST",
            data: {
            	assetName: assetName
            },
            url: CONTEXT_PATH + '/tools/exportexcel',
            success:function(data){
            	commondownload(data.data);
            }
        });
    }
</script>
</html>