<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<section class="content-header">
    <h1>
        耗材管理
        <small>耗材详情页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">耗材工具</a></li>
        <li><a href="#">耗材管理</a></li>
        <li class="active"><span id="nnaa"></span>耗材详情</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                <div style="font-size: 18px;font-weight:700;margin:5px 0 0 10px">耗材信息</div>
                    <table id="tb"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                    <a href="" style="display: none" id="exceldownload" download="耗材详情.xls"></a>
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                            <input type="hidden" class="form-control input-sm" name="assetTypeCode" id="searchType" value="asset_type_consumables" readonly>
                            	<input type="hidden" class="form-control input-sm" name="assetId" id="searchId" readonly>
                            </div>
                            <div class="btn-group btn-group-sm">
                            	<button type="button" class="btn btn-default" onclick="returnBack()">
                                    返回上一级
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="btn-group btn-group-sm" style="margin: 5px 0 0 10px">
                            	<button type="button" class="btn btn-default" onclick="lyjl()">
                                    领用记录
                                </button>
                                <button type="button" class="btn btn-default" onclick="rkjl()">
                                    入库记录
                                </button>
                                <button type="button" class="btn btn-default" onclick="exportexcel()">
                                    <i class="glyphicon glyphicon-save"></i>
                                    导出
                                </button>
                            </div>
                    <table id="table1"></table>
                    <table id="table2"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script th:inline="javascript">
    var $table1 = $('#table1');
    var $table2 = $('#table2');

    $(function () {
    	var datas = [];
    	var consumableId = localStorage.getItem("consumableId");
    	var consumableName = localStorage.getItem("consumableName");
    	if(consumableName != undefined) {
    		if(consumableName != '') {
    			document.querySelector('#nnaa').innerHTML = consumableName + '-';
    		}else {
    			document.querySelector('#nnaa').innerHTML = '';
    		}
    		$('#searchId').val(consumableId);
    	}
    	$.ajax({
            type:"GET",
            url: CONTEXT_PATH + '/consumables/' + consumableId,
            success:function(data){
            	datas.push(data.data);
            	$('#tb').bootstrapTable({
                    data: datas,
                    detailView: false,
                    pagination : false,
                    columns: [
                              {field: 'consumablesCode', title: '耗材编号', halign: 'center', align: 'center'},
                              {field: 'consumablesName', title: '耗材名称', halign: 'center', align: 'center'},
                              {field: 'assetClassification', title: '耗材类型', halign: 'center', align: 'center'},
                              {field: 'specificationType', title: '规格型号', halign: 'center', align: 'center'},
                              {field: 'positionName', title: '存放地点', halign: 'center', align: 'center'},
                              {field: 'manager', title: '管理人', halign: 'center', align: 'center'},
                              {field: 'cumulativeReceiptQuantity', title: '累计入库数量', halign: 'center', align: 'center'},
                              {field: 'totalExisting', title: '现存数量', halign: 'center', align: 'center'},
                              {field: 'cumulativeCollectedQuantity', title: '领用数量', halign: 'center', align: 'center'},
                              {field: 'remainingQuantity', title: '剩余数量', halign: 'center', align: 'center'}
                    ]
                });
            }
        });
        $table1.bootstrapTable({
            url: CONTEXT_PATH + '/collectionrecord/list',
            idField: 'id',
            detailView: false,
            columns: [
				{field: 'id', title: '序号', width: '10%', halign: 'center', align: 'center',
					formatter: function(value,row,index) {
	            		var pageSize = $table1.bootstrapTable('getOptions').pageSize;
	            		var pageNumber = $table1.bootstrapTable('getOptions').pageNumber;
	            		return pageSize * (pageNumber - 1) + index + 1;
	            	}
				},
                {field: 'collectionTime', title: '领用时间', width: '20%', halign: 'center', align: 'center'},
                {field: 'collectionMajor', title: '领用专业', width: '20%', halign: 'center', align: 'center'},
                {field: 'collectionCourse', title: '领用课程', width: '20%', halign: 'center', align: 'center'},
                {field: 'applicant', title: '申请人', width: '20%', halign: 'center', align: 'center'},
                {field: 'collectedQuantity', title: '领用数量', width: '10%', sortable: true, halign: 'left'}
            ]
        });
        $table2.bootstrapTable({
            url: CONTEXT_PATH + '/warehousingrecord/list',
            idField: 'id',
            detailView: false,
            onLoadSuccess: function() {
            	lyjl();
            },
            columns: [
				{field: 'id', title: '序号', width: '10%', halign: 'center', align: 'center',
					formatter: function(value,row,index) {
	            		var pageSize = $table2.bootstrapTable('getOptions').pageSize;
	            		var pageNumber = $table2.bootstrapTable('getOptions').pageNumber;
	            		return pageSize * (pageNumber - 1) + index + 1;
	            	}
				},
                {field: 'warehousingTime', title: '入库时间', width: '20%', halign: 'center', align: 'center'},
                {field: 'unitPrice', title: '单位价格（元）', width: '15%', sortable: true, halign: 'left'},
                {field: 'warehousingQuantity', title: '入库数量', width: '15%', sortable: true, halign: 'left'},
                {field: 'positionName', title: '存放地点', width: '20%', halign: 'center', align: 'center'},
                {field: 'manager', title: '管理人', width: '20%', halign: 'center', align: 'center'}
            ]
        });
    });
    var hcxqss = 1;
    function lyjl() {
    	hcxqss = 1;
    	$('.fixed-table-toolbar')[1].style.display = 'block';
		$('.fixed-table-toolbar')[2].style.display = 'none';
    	$table1.css('display', 'block');
    	$table2.css('display', 'none');
    	$('.fixed-table-pagination')[1].style.display = 'block';
    	$('.fixed-table-pagination')[2].style.display = 'none';
    }
    
    function rkjl() {
    	hcxqss =2;
    	$('.fixed-table-toolbar')[1].style.display = 'none';
    	$('.fixed-table-toolbar')[2].style.display = 'block';
    	$table1.css('display', 'none');
    	$table2.css('display', 'block');
    	$('.fixed-table-pagination')[1].style.display = 'none';
    	$('.fixed-table-pagination')[2].style.display = 'block';
    }
    
    function returnBack() {
    	document.querySelector('a[href="#consumables"]').click();
    }
    
    function exportexcel() {
    	var assetId = $('#searchId').val();
    	if(hcxqss === 1) {
    		$.ajax({
                type:"POST",
                data: {
                	assetId: assetId,
                	assetTypeCode: 'asset_type_consumables'
                },
                url: CONTEXT_PATH + '/collectionrecord/exportexcel',
                success:function(data){
                	commondownload(data.data);
                }
            });
    	}else {
    		$.ajax({
                type:"POST",
                data: {
                	assetId: assetId,
                	assetTypeCode: 'asset_type_consumables'
                },
                url: CONTEXT_PATH + '/warehousingrecord/exportexcel',
                success:function(data){
                	commondownload(data.data);
                }
            });
    	}
    }
</script>
</html>