<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<section class="content-header">
    <h1>
        系统管理
        <small>周管理页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">系统管理</a></li>
        <li class="active">周管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                    <a href="" style="display: none" id="exceldownload" download="排课周.xls"></a>
                    <form id="importexcel" enctype="multipart/form-data">
            						<input id="file" type="file" name="file" onchange="importexcel()" style="display:none;"/>
        						</form>
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                                <label for="searchName"> 周名称 </label>
                                <input type="text" class="form-control input-sm" name="weekName" id="searchName" placeholder="请输入周名称">
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                    <i class="glyphicon glyphicon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    清空
                                </button>
                                <button type="button" class="btn btn-default" onclick="handleImportClick()">
                                    <i class="glyphicon glyphicon-open"></i>
                                    导入
                                </button>
                                <button type="button" class="btn btn-default" onclick="exportexcel()">
                                    <i class="glyphicon glyphicon-save"></i>
                                    导出
                                </button>
                            </div>
                        </form>
                        <div class="btn-group btn-group-sm">
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button shiro:hasPermission="position:create" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal" onclick="addLoad()"><i class="glyphicon glyphicon-plus"></i> 新增
                            </button>
                            <!-- Indicates caution should be taken with this action -->
                            <button shiro:hasPermission="position:update" type="button" id="editBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#editModal"
                                    data-action="{type:'editable',form:'#editForm',table:'#table',after:'editAfter'}"
                                    disabled><i class="glyphicon glyphicon-edit"></i> 修改
                            </button>
                            <!-- Indicates a dangerous or potentially negative action -->
                            <button shiro:hasPermission="position:delete" type="button" id="deleteBtn" class="btn btn-default"
                            		data-toggle="modal"
                                    data-target="#deleteModal"
                                    data-action="{type:'delete',form:'#deleteForm',idField:'id',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">添加排课周</h4>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                    	<div class="col-md-12">
                        	<label class="control-label" for="weekName"><span class="asterisk">*</span>周名称:</label>
                        	<input id="weekName" type="text" class="form-control" name="weekName" placeholder="输入周名称"
                               required>
                        	<div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                        	<label class="control-label" for="addDatepicker"><span class="asterisk">*</span>年度:</label>
                        	<div class='input-group date' id='addDatepicker'>
				                <input type='text' class="form-control" name="year" required>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
                        </div>
                        <div class="col-md-4">
                        	<label class="control-label" for="addDatepicker1"><span class="asterisk">*</span>开始时间:</label>
                        	<div class='input-group date' id='addDatepicker1'>
				                <input type='text' class="form-control" name="startDate" required>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
                        </div>
                        <div class="col-md-4">
                        	<label class="control-label" for="addDatepicker2"><span class="asterisk">*</span>结束时间:</label>
                        	<div class='input-group date' id='addDatepicker2'>
				                <input type='text' class="form-control" name="endDate" required>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    	<div class="col-md-12">
                        	<label class="control-label" for="remark"><span class="asterisk">*</span>备注:</label>
                        	<input id="remark" type="text" class="form-control" name="remark"
                                required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="addForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#addForm',url:'@{/weekyear/create}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">修改排课周</h4>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" name="id"/>
                    <div class="form-group">
                    	<div class="col-md-12">
                        	<label class="control-label" for="weekName"><span class="asterisk">*</span>周名称:</label>
                        	<input id="weekName" type="text" class="form-control" name="weekName"
                               readonly required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                        	<label class="control-label" for="editDatepicker"><span class="asterisk">*</span>年度:</label>
                        	<div class='input-group date' id='editDatepicker'>
				                <input type='text' class="form-control" name="year" required>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
                        </div>
                        <div class="col-md-4">
                        	<label class="control-label" for="editDatepicker1"><span class="asterisk">*</span>开始时间:</label>
                        	<div class='input-group date' id='editDatepicker1'>
				                <input type='text' class="form-control" name="startDate" required>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
                        </div>
                        <div class="col-md-4">
                        	<label class="control-label" for="editDatepicker2"><span class="asterisk">*</span>结束时间:</label>
                        	<div class='input-group date' id='editDatepicker2'>
				                <input type='text' class="form-control" name="endDate" required>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    	<div class="col-md-12">
                        	<label class="control-label" for="remark"><span class="asterisk">*</span>备注:</label>
                        	<input id="remark" type="text" class="form-control" name="remark"
                                required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="editForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#editForm',url:'@{/weekyear/update}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteSmallModalLabel">删除排课周</h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm"></form>
                确定要删除选中的 <span class="records"></span> 条记录?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="deleteForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#deleteForm',url:'@{/weekyear/delete-batch}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<div id="actionButtons" class="admin-hide">
    <!-- <a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a> -->
    <a shiro:hasPermission="position:update" class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>　
    <a shiro:hasPermission="position:delete" class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i></a>　
</div>

<script th:inline="javascript">
    var $table = $('#table');

    $(function () {
    	$('#addDatepicker').datepicker({
            format: 'yyyy',
            minViewMode: 2,
            maxViewMode: 2,
            autoclose: true
        });
    	$('#addDatepicker1').datepicker({
            format: 'mm-dd',
            autoclose: true
        });
    	$('#addDatepicker2').datepicker({
            format: 'mm-dd',
            autoclose: true
        });
    	$('#editDatepicker').datepicker({
            format: 'yyyy',
            minViewMode: 2,
            maxViewMode: 2,
            autoclose: true
        });
    	$('#editDatepicker1').datepicker({
            format: 'mm-dd',
            autoclose: true
        });
    	$('#editDatepicker2').datepicker({
            format: 'mm-dd',
            autoclose: true
        });
        $table.bootstrapTable({
            url: CONTEXT_PATH + '/weekyear/list',
            idField: 'id',
            detailView: false,
            columns: [
                {field: 'state', checkbox: true},
                {field: 'id', title: '序号', sortable: true, halign: 'left',
                	formatter: function(value,row,index) {
                		var pageSize = $table.bootstrapTable('getOptions').pageSize;
                		var pageNumber = $table.bootstrapTable('getOptions').pageNumber;
                		return pageSize * (pageNumber - 1) + index + 1;
                	}
                },
                {field: 'weekName', title: '周名称', halign: 'center', align: 'center'},
                {field: 'year', title: '年度', halign: 'center', align: 'center'},
                {field: 'startDate', title: '开始日期', halign: 'center', align: 'center'},
                {field: 'endDate', title: '结束日期', halign: 'center', align: 'center'},
                {field: 'remark', title: '备注', halign: 'center', align: 'center'},
                {
                    field: 'action',
                    title: '操作',
                    halign: 'center',
                    align: 'center',
                    formatter: 'actionFormatter',
                    events: 'actionEvents',
                    clickToSelect: false
                }
            ]
        });
    });

    function editAfter(obj, row) {
    }

    function actionFormatter(value, row, index) {
        return $('#actionButtons').html();
    }

    window.actionEvents = {
        'click .edit': function (e, value, row, index) {
            $('#editModal').modal('show')
            $('#editForm').fillForm(row);
            editAfter('', row);
        },
        'click .remove': function (e, value, row, index) {
            $('#deleteModal').modal('show');
            $('.records').html('1');
            var html = '';
            for (var key in row) {
                html += '<input type="hidden" name="' + key + '" value="' + row[key] + '">';
            }
            $('#deleteForm').html(html);
        }
    };

    function addLoad() {
    	$('#addDatepicker').datepicker('setDate', new Date());
    	$('#addDatepicker1').datepicker('setDate', new Date());
    	$('#addDatepicker2').datepicker('setDate', new Date());
    }
    
    function handleImportClick() {
    	$('#file').click();
    }
    
    function importexcel() {
    	var formData = new FormData($('#importexcel', window.parent.document)[0]);
    	$.ajax({
            type:"POST",
            url: CONTEXT_PATH + '/file/upload/',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success:function(data){
            	$.ajax({
                    type:"POST",
                    url: CONTEXT_PATH + '/weekyear/importexcel/',
                    data: {path: data.data},
                    success:function(data){
                    	location.reload();
                    }
                });
            }
        });
    }
    
    function exportexcel() {
    	var weekName = $('#searchName').val();
    	$.ajax({
            type:"POST",
            data: {
            	weekName: weekName
            },
            url: CONTEXT_PATH + '/weekyear/exportexcel',
            success:function(data){
            	commondownload(data.data);
            }
        });
    }
</script>
</html>