<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.wetech.admin.modules.training.mapper.CoursesMapper" >
  <resultMap id="BaseResultMap" type="tech.wetech.admin.modules.training.po.Courses" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="course_code" property="courseCode" jdbcType="VARCHAR" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="course_type" property="courseType" jdbcType="VARCHAR" />
    <result column="course_type_code" property="courseTypeCode" jdbcType="VARCHAR" />
    <result column="course_director" property="courseDirector" jdbcType="VARCHAR" />
    <result column="course_director_id" property="courseDirectorId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <select id="selectTeachingPlanByCourseId" resultType="tech.wetech.admin.modules.training.po.TeachingPlan"
   parameterType="tech.wetech.admin.modules.training.po.Courses">
	select tp.* from t_teaching_plan  tp
 		join t_chapters c  on tp.chapter_id= c.id
 		join t_courses co on  (c.course_id= co.id and  co.id = #{id}); 
  </select> 
</mapper>