<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.wetech.admin.modules.training.mapper.CourseArrangementMapper" >
  <resultMap id="BaseResultMap" type="tech.wetech.admin.modules.training.po.CourseArrangement" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="week_id" property="weekId" jdbcType="INTEGER" />
    <result column="week_name" property="weekName" jdbcType="VARCHAR" />
    <result column="section_name" property="sectionName" jdbcType="VARCHAR" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="class_id" property="classId" jdbcType="VARCHAR" />
    <result column="number_of_people" property="numberOfPeople" jdbcType="INTEGER" />
    <result column="lecturerl_teacher" property="lecturerlTeacher" jdbcType="VARCHAR" />
    <result column="lecturerl_teacher_id" property="lecturerlTeacherId" jdbcType="INTEGER" />
    <result column="regional_teacher" property="regionalTeacher" jdbcType="VARCHAR" />
    <result column="regional_teacher_id" property="regionalTeacherId" jdbcType="INTEGER" />
    <result column="assistant_teacher" property="assistantTeacher" jdbcType="VARCHAR" />
    <result column="assistant_teacher_id" property="assistantTeacherId" jdbcType="INTEGER" />
    <result column="training_room_name" property="trainingRoomName" jdbcType="VARCHAR" />
    <result column="training_room_id" property="trainingRoomId" jdbcType="INTEGER" />
    <result column="teaching_plan_name" property="teachingPlanName" jdbcType="VARCHAR" />
    <result column="teaching_plan_id" property="teachingPlanId" jdbcType="INTEGER" />
    <result column="training_content" property="trainingContent" jdbcType="VARCHAR" />
    <result column="number_of_devices" property="numberOfDevices" jdbcType="INTEGER" />
    <result column="number_of_consumables" property="numberOfConsumables" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
</mapper>