<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.wetech.admin.modules.training.mapper.InspectionRecordMapper">
  <resultMap id="BaseResultMap" type="tech.wetech.admin.modules.training.po.InspectionRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="asset_id" property="assetId" jdbcType="INTEGER" />
    <result column="asset_code" property="assetCode" jdbcType="VARCHAR" />
    <result column="asset_classification_code" property="assetClassificationCode" jdbcType="VARCHAR" />
    <result column="asset_classification" property="assetClassification" jdbcType="VARCHAR" />
    <result column="asset_status" property="assetStatus" jdbcType="VARCHAR" />
    <result column="asset_status_code" property="assetStatusCode" jdbcType="VARCHAR" />
    <result column="is_repair" property="isRepair" jdbcType="INTEGER" />
    <result column="status_description" property="statusDescription" jdbcType="VARCHAR" />
    <result column="plan_id" property="planId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="repair_order_no" property="repairOrderNo" jdbcType="VARCHAR" />
    <result column="asset_name" property="assetName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>