<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.wetech.admin.modules.training.mapper.InspectionPlanYearMapper" >
  <resultMap id="BaseResultMap" type="tech.wetech.admin.modules.training.po.InspectionPlanYear" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="room_name" property="roomName" jdbcType="VARCHAR" />
    <result column="person_in_charge" property="personInCharge" jdbcType="VARCHAR" />
    <result column="person_in_charge_id" property="personInChargeId" jdbcType="INTEGER" />
    <result column="inspection_cycle" property="inspectionCycle" jdbcType="VARCHAR" />
    <result column="inspection_cycle_code" property="inspectionCycleCode" jdbcType="VARCHAR" />
    <result column="inspection_times_year" property="inspectionTimesYear" jdbcType="INTEGER" />
    <result column="inspectioned_times_year" property="inspectionedTimesYear" jdbcType="INTEGER" />
    <result column="number_abnormal_devices" property="numberAbnormalDevices" jdbcType="INTEGER" />
    <result column="number_reported_repair_equipment" property="numberReportedRepairEquipment" jdbcType="INTEGER" />
    <result column="number_repaired_equipmen" property="numberRepairedEquipmen" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="create_year" property="createYear" jdbcType="VARCHAR" />
  </resultMap>
  
</mapper>