<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.wetech.admin.modules.training.mapper.PubCodeMapper">
  <resultMap id="BaseResultMap" type="tech.wetech.admin.modules.training.po.PubCode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pub_code" jdbcType="VARCHAR" property="pubCode" />
    <result column="pub_name" jdbcType="VARCHAR" property="pubName" />
    <result column="pub_type" jdbcType="VARCHAR" property="pubType" />
    <result column="pub_type_code" jdbcType="VARCHAR" property="pubTypeCode" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>