<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.wetech.admin.modules.training.mapper.ToolsMapper" >
  <resultMap id="BaseResultMap" type="tech.wetech.admin.modules.training.po.Tools" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="asset_code" property="assetCode" jdbcType="VARCHAR" />
    <result column="asset_classification_code" property="assetClassificationCode" jdbcType="VARCHAR" />
    <result column="asset_classification" property="assetClassification" jdbcType="VARCHAR" />
    <result column="asset_name" property="assetName" jdbcType="VARCHAR" />
    <result column="asset_value" property="assetValue" jdbcType="INTEGER" />
    <result column="bookkeeping_date" property="bookkeepingDate" jdbcType="VARCHAR" />
    <result column="specification_type" property="specificationType" jdbcType="VARCHAR" />
    <result column="specification_type_code" property="specificationTypeCode" jdbcType="VARCHAR" />
    <result column="asset_user" property="assetUser" jdbcType="VARCHAR" />
    <result column="asset_user_id" property="assetUserId" jdbcType="INTEGER" />
    <result column="position_code" property="positionCode" jdbcType="VARCHAR" />
    <result column="position_name" property="positionName" jdbcType="VARCHAR" />
    <result column="use_department" property="useDepartment" jdbcType="VARCHAR" />
    <result column="use_department_id" property="useDepartmentId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="cumulative_receipt_quantity" property="cumulativeReceiptQuantity" jdbcType="VARCHAR" />
    <result column="total_existing" property="totalExisting" jdbcType="VARCHAR" />
    <result column="cumulative_collected_quantity" property="cumulativeCollectedQuantity" jdbcType="VARCHAR" />
    <result column="remaining_quantity" property="remainingQuantity" jdbcType="VARCHAR" />
  </resultMap>
  
  <update id="updateCodeById" parameterType="tech.wetech.admin.modules.training.po.Tools">
		UPDATE t_tools t 
		SET t.use_department_id = ( SELECT o.id FROM sys_organization o WHERE o.NAME = t.use_department ),
			t.position_code = ( SELECT p.position_name FROM t_position p WHERE p.id = t.position_name ),
			t.asset_user_id = ( SELECT u.id FROM sys_user u WHERE u.username = t.asset_user ),
			t.asset_classification_code = ( SELECT c.classification_code FROM t_asset_classification c WHERE c.classification_name = t.asset_classification )
		where t.id=#{id}
  </update>

</mapper>